.main-menu {
  position: fixed;
  display: flex;

  top: 0;
  left: 0;

  width: 100px;
  height:100vh;

  background-color: #000;

  .header {
  	position: absolute;
  	display: flex;
    justify-content: center;
    align-items: center;

    top: calc(50vh - 50px);
    left: -120px;

    width: 340px;
    height: 100px;

    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: #999;

    transform: rotate(-90deg);
  } 
}