// old atomic layout
.fl {
  display: flex !important;
  float: none !important;
}
.fli {
  display: inline-flex !important;
}
.flc {
  @extend .fl;
  flex-direction: column !important;
}

// grid
.flex {
  display: flex !important;

  &-column {
    flex-direction: column !important;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    .col {
      flex-basis: 0;
      flex-grow: 1;

      max-width: 100%;

      @for $i from 2 through 11 {
        &-#{$i} {
          flex: 0 0 $i / 12 * 100  + '%';
          max-width: $i / 12 * 100 + '%';
        }
      }
    }
  }
}

.order {
  @for $i from 0 through 12 {
    &-#{$i} {
      order: $i !important;
    }
  }
}

// position
.pos {
  @each $i in ("fixed", "stiky", "relative", "absolute", "static") {
    &-#{$i} {
      position: #{$i} !important;
    }
  }
}

// display
.d {
  @each $i in ("none", "inline", "inline-block", "block", "flex", "inline-flex") {
    &-#{$i} {
      display: #{$i} !important;
    }
  }
}

// align-items
.align-items {
  @each $i in ("flex-start", "center", "flex-end") {
    &-#{$i} {
      align-items: #{$i} !important;
    }
  }
}

// align-self
.align-self {
  @each $i in ("flex-start", "center", "flex-end") {
    &-#{$i} {
      align-self: #{$i} !important;
    }
  }
}

// justify-content
.justify-content {
  @each $i in ("start", "center", "end", "space-around", "space-between") {
    &-#{$i} {
      justify-content: #{$i} !important;
    }
  }
}

// spaces
.m-auto {
  margin: auto !important;
}
.m-0 {
  margin: 0 !important;
}
.p-auto {
  padding: auto !important;
}
.p-0 {
  padding: 0 !important;
}

@for $i from 0 through 100 {
  .#{'mt'}-#{$i} {
    margin-top: $i + 0px !important;
  }

  .#{'mr'}-#{$i} {
    margin-right: $i + 0px !important;
  }

  .#{'mb'}-#{$i} {
    margin-bottom: $i + 0px !important;
  }

  .#{'ml'}-#{$i} {
    margin-left: $i + 0px !important;
  }

  .#{'pt'}-#{$i} {
    padding-top: $i + 0px !important;
  }

  .#{'pr'}-#{$i} {
    padding-right: $i + 0px !important;
  }

  .#{'pb'}-#{$i} {
    padding-bottom: $i + 0px !important;
  }

  .#{'pl'}-#{$i} {
    padding-left: $i + 0px !important;
  }
}

// borders
.underline {
  &-solid {
    border-bottom: 1px solid !important;
  }

  &-dotted {
    border-bottom: 1px dotted !important;
  }
}

// size

.w {
  &-0 {
    width: 0 !important;
  }

  &-25 {
    width: 25% !important;
  }

  &-50 {
    width: 50% !important;
  }

  &-75 {
    width: 75% !important;
  }

  &-100 {
    width: 100% !important;
  }

  &-fit {
    width: fit-content;
  }
}

// colors
.clr {
  &-primary, &-red {
    color: $primary !important;
  }

  &-white {
    color: $white !important;
  }

  &-black {
    color: $black !important;
  }

  &-green {
    color: $primary-green !important;
  }

  &-blue {
    color: $primary-blue !important;
  }

  &-orange {
    color: $primary-orange !important;
  }

  &-dark-grey {
    color: $primary-dark-grey !important;
  }

  &-grey {
    color: $primary-grey !important;
  }

  &-light-grey {
    color: $primary-light-grey !important;
  }
}

.bc {
  &-primary, &-red {
    background-color: $primary !important;
  }

  &-white {
    background-color: $white !important;
  }

  &-black {
    background-color: $black !important;
  }

  &-green {
    background-color: $primary-green !important;
  }

  &-blue {
    background-color: $primary-blue !important;
  }

  &-orange {
    background-color: $primary-orange !important;
  }

  &-dark-grey {
    background-color: $primary-dark-grey !important;
  }

  &-grey {
    background-color: $primary-grey !important;
  }

  &-light-grey {
    background-color: $primary-light-grey !important;
  }
}

.fill {
  &-primary, &-red {
    fill: $primary !important;
  }

  &-white {
    fill: $white !important;
  }

  &-black {
    fill: $black !important;
  }

  &-green {
    fill: $primary-green !important;
  }

  &-blue {
    fill: $primary-blue !important;
  }

  &-orange {
    fill: $primary-orange !important;
  }

  &-dark-grey {
    fill: $primary-dark-grey !important;
  }

  &-grey {
    fill: $primary-grey !important;
  }

  &-light-grey {
    fill: $primary-light-grey !important;
  }
}

//cursor
.cursor {
  &-default {
    cursor: default !important;
  }

  &-pointer {
    cursor: pointer !important;
  }
}

// opacity
@for $i from 0 through 20 {
  $classPrefix: $i / 20 * 100;

  .#{'op'}-#{$classPrefix} {
    opacity: $i / 20 !important;
  }
}

// font-size
@for $i from 6 through 30 {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}

// letter spacing
@for $i from -10 through 10 {
  .#{'ls'}-#{$i} {
    letter-spacing: $i / 10 + 0px !important;
  }
}

// typography
.text-style {
  &.-uppercase {
    text-transform: uppercase;
  }
  &.-lowercase {
    text-transform: lowercase;
  }
  &.-normal {
    font-style: normal;
    font-weight: normal;
  }
  &.-bold {
    font-style: normal;
    font-weight: bold;
  }
  &.-italic {
    font-style: italic;
    font-weight: normal;
  }
  &.-bold-italic {
    font-style: italic;
    font-weight: bold;
  }

  &.-dotted {
    text-decoration: none;
    border-bottom: 1px dotted;
  }

  &.-no-underline {
    border-bottom: none;
    text-decoration: none;
  }
}

// v for visibility
.v {
  &-hidden {
    visibility: hidden;
  }

  &-visible {
    visibility: visible;
  }
}