// COLORS
$primary: #d60000;
$secondary: #666;
$blue: #358eda;
$light-gray: #ccc;
$lighter-gray: #999;
$black: #000;
$white: #fff;

// FONTS
$hfont: Arial, Helvetica, sans-serif; //Header Fonts
$bfont: Arial, Helvetica, sans-serif; //Body Fonts
$sfont: "Futura Medium", sans-serif;

$sizebody: 13px;
$sizeh1: 25px;
$sizeh2: 20px;
$sizeh3: 18px;
$sizeh4: 15px;
$sizeh5: 13px;
$sizeh6: 12px;

/* *** BASE *** */

// COLORS

$primary-red: #d60000;
$primary-dark-grey: #666666;
$primary-grey: #999999;
$primary-light-grey: #cccccc;
$primary-green: #3caa3c;
$primary-blue: #358eda;
$primary-orange: #fa660f;

/* *** COMPONENTS *** */

// BUTTONS

// button namespace
$button: "button-new";

// button base style
$button-font: "Futura Medium";
$button-border-radius: 6px;
$button-text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
$button-display: flex;

// button colors
$button-bg-red: $primary-red;
$button-bg-red-gradient: linear-gradient(to top, #c80101, #ef4141);
$button-color-red: #fff;
$button-border-red: #fff;

$button-bg-grey: #e0e0e0;
$button-bg-grey-gradient: linear-gradient(to top, #e2e0e0, #fdfdfd);
$button-color-grey: #737171;

// button type
$button-flat-color-red: $primary-red;
$button-flat-border-red: 2px solid $primary-red;
$button-flat-bg-red: transparent;
$button-flat-bg-red-hover: #fdf3f3;

$button-disabled-border: 2px solid #ccc;
$button-disabled-bg-color: transparent;
$button-disabled-bg-image: none;
$button-disabled-color: #ccc;
$button-disabled-cursor: default;
$button-disabled-box-shadow: none;
$button-disabled-text-shadow: none;

$button-image-position: relative;
$button-image-display: -webkit-box;
$button-image-border-radius: 6px;
$button-image-height: 32px;
$button-image-bg-color: $button-bg-red;
$button-image-bg-image: $button-bg-red-gradient;
$button-image-color: #000;
$button-image-color-hover: $button-bg-red;
$button-image-width: 40px;
$button-image-height: 32px;

// INPUTS AND TEXTAREA

// input namespace
$input: "input";

$input-border: 1px solid rgba(0, 0, 0, .2);
$input-border-focus: 1px solid rgba(0, 0, 0, .5);
$input-border-radius: 2px;
$input-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1);
$input-padding: 0 7px;
$input-width: 240px;
$input-width-date: 104px;
$input-height: 24px;
$input-bg-color: #fff;
$input-color: #999;
$input-color-focus: #000;
$input-fonts-size: 13px;

$input-color-error: $primary-red;

$textarea-padding: 3px 7px;
$textarea-height: 88px;

// SELECTS

//select namespace
$select: "select";

// CHECKBOX AND RADIO

// checkbox namespace
$checkbox: "checkbox";
$radiobox: "radiobox";

// TABS

// tab namespace
$tabs: "tabs";
$switch: "switch";

// MODALS

// modal namespace
$modal: "modal";
$modal-window: "window";
$modal-wrapper: "wrap";
$modal-content: "content";

$modal-border-radius: 6px;
$modal-padding: 14px;
$modal-width: 100%;
$modal-height: 100vh;
$modal-bg: rgba(0, 0, 0 , .5);
$modal-z-index: 1050;

// POPUP

// popup namespace
$popup-window: "popup-window";
$helper-window: "helper-window";

// NAMEPLATES

// nameplates namespace
$nameplate: "nameplate";

$nameplate-display: inline-block;
$nameplate-border-radius: 4px;
$nameplate-padding: 0 12px;
$nameplate-width: fit-content;
$nameplate-height: 24px;
$nameplate-font-family: "Arial";
$nameplate-font-size: 11px;
$nameplate-color: #fff;

// SOCIAL

// social namespace
$social: "social";

$social-position: relative;
$social-display: flex;
$social-border-radius: 4px;
$social-border: none;
$social-width: 28px;
$social-height: 28px;
$social-cursor: pointer;