<html>
  <head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/source/bundle.css" />
  </head>

  <body>
    {{> menu }}

    <div class="main-content">
      
    </div>

    {{> footer }}

    <script src="/source/bundle.js"></script>
  </body>
</html>