// old style

$button-colors: (
  "red": (
    background-color : $button-bg-red,
    background-image: $button-bg-red-gradient,
    color: $button-color-red,
    text-shadow: $button-text-shadow
  ),
  "grey": (
    background-color: $button-bg-grey,
    background-image: $button-bg-grey-gradient,
    color: $button-color-grey,
    text-shadow: $button-text-shadow,
    border: 1px solid rgba(0, 0, 0, 0.2) !important
  )
);

$button-sizes: (
  "xlg": (
    padding: 6px 23px 11px 23px,
    height: 44px,
    line-height: 18.2px,
    font-size: 24.7px,
    letter-spacing: -.4px
  ),
  "lg": (
    padding: 6px 19px 8px 20px,
    height: 36px,
    line-height: 14.1px,
    font-size: 20px,
    letter-spacing: -.1px
  ),
  "sm": (
    padding: 4px 15px 6px 15px,
    height: 28px,
    line-height: 15px,
    font-size: 15px,
    letter-spacing: .4px
  )
);

$button-disabled-styles: (
  border: $button-disabled-border,
  background-color: $button-disabled-bg-color,
  background-image: $button-disabled-bg-image,
  color: $button-disabled-color,
  cursor: $button-disabled-cursor,
  box-shadow: $button-disabled-box-shadow,
  text-shadow: $button-disabled-text-shadow
);

%#{$button} {
  display: $button-display;
  align-items: center;

  border: none !important;
  border-radius: $button-border-radius;

  padding: 6px 16px 8px 15px;

  height: 32px;
  line-height: 14.1px;

  width: fit-content;
  box-sizing: border-box;

  cursor: pointer;

  font-size: 18.1px;
  letter-spacing: -.4px;

  font-family: $button-font;
  text-decoration: none;
}

.#{$button} {

  // color
  @each $color-name, $color-styles in $button-colors {
    &-#{$color-name} {
      @extend %#{$button};

      @each $style-name, $style-value in $color-styles {
        #{$style-name}: #{$style-value};
      }

      // size
      @each $size-name, $size-styles in $button-sizes {
        &.-#{$size-name} {
          @each $style-name, $style-value in $size-styles {
            #{$style-name}: #{$style-value};
          }
        }
      }

      &:hover, &.-hover {
        box-shadow: inset 0 3px 2px 0 rgba(0, 0, 0, .2);
        background-image: none;
      }

      &:focus {
        outline: 0;
      }

      &.-disabled {
        @each $style-name, $style-value in $button-disabled-styles {
          #{$style-name}: #{$style-value} !important;
        }
      }

      &.-inline {
        padding-left: 0;
        padding-right: 0;

        width: 100%;

        justify-content: center;
      }
    }
  }
}

// flat style

$button-flat-colors: (
  "red": (
    border: $button-flat-border-red !important,
    background-color: $button-flat-bg-red,
    color: $button-flat-color-red
  )
);

$button-flat-sizes: (
  "xlg": (
    padding: 6px 22px 10px 21px,
    height: 44px,
    line-height: 18.2px,
    font-size: 24.7px,
    letter-spacing: -.3px
  ),
  "lg": (
    padding: 6px 16px 8px 18px,
    height: 36px,
    line-height: 18.2px,
    font-size: 20px,
    letter-spacing: .2px,
  ),
  "sm": (
    padding: 4px 13px 6px 13px,
    height: 28px,
    line-height: 15px,
    font-size: 15px,
    letter-spacing: .4px
  )
);

.#{$button}-flat {
  @extend %#{$button};

  //color
  @each $color-name, $color-styles in $button-flat-colors {
    &.-#{$color-name} {
      @each $style-name, $style-value in $color-styles {
        #{$style-name}: #{$style-value};
      }
    }

    &:hover, &.-hover {
      background-color: $button-flat-bg-red-hover;
    }
  }

  //size
  @each $size-name, $size-styles in $button-flat-sizes {
    &.-#{$size-name} {
      @each $style-name, $style-value in $size-styles {
        #{$style-name}: #{$style-value};
      }
    }
  }

  // растягивает кнопку в ширину блока
  &.-inline {
    display: inline-block;

    padding-left: 0;
    padding-right: 0;

    width: 100%;

    text-align: center;
  }

  // disabled
  &.-disabled {
    @each $style-name, $style-value in $button-disabled-styles {
      #{$style-name}: #{$style-value} !important;
    }
  }
}

// button with image
.#{$button}-image {
  position: $button-image-position;
  display: $button-image-display;
  align-items: center;
  vertical-align: middle;

  padding-left: 52px;

  height: $button-image-height;

  color: $button-image-color;
  cursor: pointer;

  font-family: Arial, Helvetica;

  > i {
    position: absolute;

    top: 0;
    left: 0;
  }

  > .content {
    border-bottom: 1px dotted;

    width: auto;

    line-height: 16px;
    letter-spacing: .2px;
  }

  &::before {
    content: "";

    position: absolute;
    display: block;

    top: 0;
    left: 0;

    border-radius: $button-image-border-radius;

    width: $button-image-width;
    height: $button-image-height;

    background-color: $button-image-bg-color;
    background-image: $button-image-bg-image;
  }

  &:hover, &.-hover {
    color: $button-image-color-hover;

    &::before {
      box-shadow: inset 0 3px 2px 0 rgba(0, 0, 0, .2);
      background-image: none;
    }
  }
}