.#{$checkbox} {
  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    padding: 0 4px 0 24px;

    width: fit-content;
    line-height: 16px;

    user-select: none;

    .after {
      position: absolute;
      display: block;

      top: 0;
      left: 0;

      box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);

      border: 1px solid #ccc;

      width: 16px;
      height: 16px;
      box-sizing: border-box;

      &::before {
        content: "";

        position: absolute;
        display: none;
      }
    }

    input {
      display: none;

      &[type="checkbox"] {
        + .after {
          border-radius: 2px;

          &::before {
            top: 3px;
            left: 3px;

            width: 8px;
            height: 8px;

            background: no-repeat 50% / 8px;
          }
        }

        &.-hover, &:hover {
          + .after {
            background-color: #e9e9e9;

            &::before {
              display: block;
              background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAR0lEQVR42mPAA2Yyz1w88zmCyzhzwcz/M9cxzFw/MxXMnQ7kbprJxjDzIpCRBecC5URnXp/5Hwj3zeSC6ZaZeWvmHigXEwAADcAjvIES4xUAAAAASUVORK5CYII=);
            }
          }
        }

        &:checked {
          + .after {
            background-color: #fff;

            &::before {
              display: block;
              background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAATklEQVR4AWMgC1xjYGAG4sVA/BybJCMQLwDi/0C8DiSwHohTkSSnQyU3ATEbSPAiVCALQxKqSxSIr4MkoHgfEHOh2ysDxLeAeA9YkhQAAD9VKx/ZtrknAAAAAElFTkSuQmCC);
            }
          }
        }
      }

      &[type="radio"] {
        + .after {
          border-radius: 50%;

          &::before {
            top: 4px;
            left: 4px;

            border-radius: 50%;

            width: 6px;
            height: 6px;
          }
        }

        &.-hover, &:hover {
          + .after {
            background-color: #e9e9e9;

            &::before {
              display: block;
              background-color: #999;
            }
          }
        }

        &:checked {
          + .after {
            background-color: #fff;

            &::before {
              display: block;

              background-color: #d60000;
            }
          }
        }
      }
    }
  }
}