%icon {
  position: relative;
  display: block;

  background: url('/res/img/sprite.png') no-repeat top 99999999px left 99999999px;
}

.icon {
  &::before, &::after {
    transition: all .3s;
  }

  &-arrow {
    @extend %icon;

    &::before, &::after {
      content: "";

      position: absolute;
    }

    /* direction */
    &.-top {}
    &.-right {}
    &.-bottom {}
    &.-left {}

    /* size */
    &.-min {
      width: 8px;
      height: 12px;

      &.-top, &.-bottom {
        width: 12px;
        height: 8px;

        &::before, &::after {
          top: 2px;
        }
      }

      &.-top {
        &::before {
          left: -1px;
          border-radius: 40% 1px 0 40%;
        }

        &::after {
          right: -1px;
          border-radius: 1px 40% 40% 0;
        }
      }

      &.-bottom {
        &::before {
          right: -1px;
          border-radius: 0 40% 40% 1px;

        }

        &::after {
          left: -1px;
          border-radius: 40% 0 1px 40%;
        }
      }

      &.-right, &.-left {
        &::before, &::after {
          left: 0;
        }
      }

      &.-right {
        &::before {
          bottom: 2px;
          border-radius: 40% 0 1px 40%;
        }

        &::after {
          top: 2px;
          border-radius: 40% 1px 0 40%;
        }
      }

      &.-left {
        &::before {
          top: 2px;
          border-radius: 0 40% 40% 1px;
        }

        &::after {
          bottom: 2px;
          border-radius: 1px 40% 40% 0;
        }
      }

      &::before, &::after {
        width: 9px;
        height: 3px;
      }

      &::before { transform: rotate(-45deg); }
      &::after { transform: rotate(45deg); }
    }

    &.-average {
      width: 16px;
      height: 32px;

      &.-top, &.-bottom {
        width: 32px;
        height: 16px;

        &::before {
          top: 7px;
          transform: rotate(-42deg);
        }

        &::after {
          top: 7px;
          transform: rotate(42deg);
        }
      }

      &.-top {
        &::before {
          left: -3px;
          border-radius: 25% 1px 0 25%;
        }

        &::after {
          right: -3px;
          border-radius: 1px 25% 25% 0;
        }
      }

      &.-bottom {
        &::before {
          right: -3px;
          border-radius: 0 25% 25% 1px;

        }

        &::after {
          left: -3px;
          border-radius: 25% 0 1px 25%;
        }
      }

      &.-right, &.-left {
        &::before {
          left: -3px;
          transform: rotate(-48deg);
        }

        &::after {
          left: -3px;
          transform: rotate(48deg);
        }
      }

      &.-right {
        &::before {
          bottom: 7px;
          border-radius: 25% 0 1px 25%;
        }

        &::after {
          top: 7px;
          border-radius: 25% 1px 0 25%;
        }
      }

      &.-left {
        &::before {
          top: 7px;
          border-radius: 1px 25% 25% 0;
        }

        &::after {
          bottom: 7px;
          border-radius: 0 25% 25% 1px;
        }
      }

      &::before, &::after {
        width: 23px;
        height: 3px;
      }
    }

    &.-big {
      width: 20px;
      height: 44px;

      &.-top, &.-bottom {
        width: 44px;
        height: 20px;

        &::before {
          top: 8px;
          transform: rotate(-39deg);
        }

        &::after {
          top: 8px;
          transform: rotate(39deg);
        }
      }

      &.-top {
        &::before {
          left: -3px;
          border-radius: 25% 2px 0 25%;
        }

        &::after {
          right: -3px;
          border-radius: 2px 25% 25% 0;
        }
      }

      &.-bottom {
        &::before {
          right: -3px;
          border-radius: 0 25% 25% 2px;

        }

        &::after {
          left: -3px;
          border-radius: 25% 0 2px 25%;
        }
      }

      &.-right, &.-left {
        &::before {
          left: -5px;
          transform: rotate(-51deg);
        }

        &::after {
          left: -5px;
          transform: rotate(51deg);
        }
      }

      &.-right {
        &::before {
          bottom: 10px;
          border-radius: 25% 0 2px 25%;
        }

        &::after {
          top: 10px;
          border-radius: 25% 2px 0 25%;
        }
      }

      &.-left {
        &::before {
          top: 10px;
          border-radius: 2px 25% 25% 0;
        }

        &::after {
          bottom: 10px;
          border-radius: 0 25% 25% 2px;
        }
      }

      &::before, &::after {
        width: 30px;
        height: 4px;
      }
    }

    /* color */
    &.-white {
      &::before, &::after {
        background-color: #fff;
      }
    }

    &.-grey {
      &::before, &::after {
        background-color: #999;
      }
    }

    &.-lightgrey {
      &::before, &::after {
        background-color: #ccc;
      }
    }

    &.-red, &.-grey:not(.-h-lock):hover, .nav-icon:hover > &.-grey:not(.-h-lock) {
      &::before, &::after {
        background-color: #d60000;
      }
    }
  }

  &-plus {
    @extend %icon;

    &::before, &::after {
      content: "";

      position: absolute;
    }

    /* size */
    &.-min {
      width: 12px;
      height: 12px;

      &::before {
        left: 5px;

        width: 2px;
        height: 12px;
      }

      &::after {
        top: 5px;

        width: 12px;
        height: 2px;
      }
    }

    /* color */
    &.-grey {
      &::before, &::after {
        background-color: #999;
      }
    }

    &.-red, &.-grey:not(.-h-lock):hover, .nav-icon:hover > &.-grey:not(.-h-lock) {
      &::before, &::after {
        background-color: #d60000;
      }
    }
  }

  &-minus {
    @extend %icon;

    &::before, &::after {
      content: "";

      position: absolute;
    }

    /* size */
    &.-min {
      width: 12px;
      height: 12px;

      &::before {
        top: 5px;

        width: 12px;
        height: 2px;
      }
    }

    /* color */
    &.-grey {
      &::before, &::after {
        background-color: #999;
      }
    }

    &.-red, &.-grey:not(.-h-lock):hover, .nav-icon:hover > &.-grey:not(.-h-lock) {
      &::before, &::after {
        background-color: #d60000;
      }
    }
  }

  &-basket {
    @extend %icon;

    &.-mini {
      background-position: 0 -21px;

      width: 15px;
      height: 14px;
    }

    &.-small {
      background-position: 0 -1px;

      width: 20px;
      height: 19px;
    }
  }

  &-cross {
    @extend %icon;

    &.-small {
      width: 12px;
      height: 12px;

      &.-white { background-position: -20px 0; }
      &.-grey { background-position: -20px -24px; }
      &.-red, &:not(.-h-lock):hover { background-position: -20px -12px; }
    }
  }

  &-date {
    @extend %icon;

    &.-small {
      width: 16px;
      height: 16px;

      &.-grey { background-position: -32px -32px; }
      &.-white { background-position: -32px 0; }
      &.-red, &:not(.-h-lock):hover { background-position: -32px -16px; }
    }
  }

  &-mail {
    @extend %icon;

    &.-small {
      width: 16px;
      height: 12px;

      &.-white {
        background-position: -48px 0px;
      }
    }
  }

  &-mail-subscribe {
    @extend %icon;
    width: 20px;
    height: 13px;
    background-position: 0px -35px;
  }

  &-download {
    @extend %icon;

    width: 15px;
    height: 16px;

    &.-small {
      &.-grey {
        background-position: -64px -16px;
      }
      &.-red, &:not(.-h-lock):hover {
        background-position: -64px 0;
      }
    }
  }

  &-checkbox {
    @extend %icon;

    &.-mini {
      width: 16px;
      height: 13px;

      background-position: -79px -18px;
    }

    &.-small {
      width: 21px;
      height: 17px;

      background-position: -79px -1px;
    }
  }

  &-pila {
    @extend %icon;

    &.-small {
      width: 20px;
      height: 20px;

      &.-red {
        background-position: -100px 0px;
      }
    }
  }

  &-vk {
    @extend %icon;

    &.-mini {
      width: 20px;
      height: 11px;

      &.-white { background-position: -140px 0; }
      &.-grey { background-position: -120px 0; }
    }

    &.-small {
      width: 25px;
      height: 14px;

      &.-white {
        background-position: -160px 0px;
      }
    }
  }

  &-fb {
    @extend %icon;

    &.-mini {
      width: 8px;
      height: 17px;

      &.-white { background-position: -150px -11px; }
      &.-grey { background-position: -130px -11px; }
    }
  }

  &-ok {
    @extend %icon;

    &.-mini {
      width: 10px;
      height: 17px;

      &.-white { background-position: -140px -11px; }
      &.-grey { background-position: -120px -11px; }
    }

    &.-small {
      width: 14px;
      height: 24px;

      &.-white {     background-position: -160px -14px; }
    }
  }

  &-tw {
    @extend %icon;

    &.-mini {
      width: 18px;
      height: 15px;

      &.-white {     background-position: -140px -28px; }
      &.-grey { background-position: -120px -28px; }
    }
  }

  &-yt {
    @extend %icon;

    &.-mini {
      width: 20px;
      height: 15px;

      &.-white { background-position: -140px -43px; }
      &.-grey {}
    }
  }

  &-tm {
    @extend %icon;

    &.-small {
      width: 19px;
      height: 20px;

      &.-white { background-position: -160px -38px; }
    }
  }

  &-wa {
    @extend %icon;

    &.-small {
      width: 24px;
      height: 24px;

      &.-white { background-position: -160px -58px; }
    }
  }

  &-vb {
    @extend %icon;

    &.-small {
      width: 24px;
      height: 25px;

      &.-white { background-position: -160px -82px; }
    }
  }

}