.#{$input} {
  font-family: Arial, Helvetica;

  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    width: fit-content;
    box-sizing: border-box;

    transition: all .3s;

    .icon {
      position: absolute;

      top: 4px;

      cursor: pointer;
    }

    &.-icon {
      &-left {
        .icon {
          left: 8px;

          + .input-field {
            padding-left: 24px;
          }
        }
      }
      &-right {
        .icon {
          right: 8px;

          + .input-field {
            padding-right: 24px;
          }
        }
      }
    }

    &.-counter {
      flex-direction: row;

      .field {
        border-radius: 2px;
        border-color: #ccc;
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1);

        width: 36px;
        height: 24px;
        line-height: 24px;
        box-sizing: border-box;

        color: #000;

        text-align: center;

        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

      }

      .button {
        position: relative;
        display: block;

        box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);

        border: 1px solid #ccc !important;
        border-radius: 2px;

        width: 16px;
        height: 16px;
        box-sizing: border-box;

        cursor: pointer;

        &::before {
          content: "";

          position: absolute;
          display: block;

          top: 6px;
          left: 3px;

          width: 8px;
          height: 2px;

          background-color: #999;
        }

        &.-minus {
          margin: 4px 4px 4px 0;
        }

        &.-plus {
          margin: 4px 0 4px 4px;

          &::after {
            content: "";

            position: absolute;
            display: block;

            top: 3px;
            left: 6px;

            width: 2px;
            height: 8px;

            background-color: #999;
          }
        }

        &:hover, &.-hover {
          &::before, &::after {
            background-color: #d60000;
          }
        }
      }
    }

    .datepicker {
      position: absolute;
      display: none;

      top: 22px;
      left: -3px;

    }
  }
  &-field, &-textarea {
    box-shadow: $input-box-shadow;
    outline: none !important;
    border: $input-border !important;
    border-radius: $input-border-radius;

    padding: $input-padding;

    width: $input-width;
    height: $input-height;
    line-height: $input-height;
    box-sizing: border-box;

    background-color: $input-bg-color;
    color: $input-color;

    font-size: $input-fonts-size;
    letter-spacing: -.1px;

    &:focus, &.-focus, &:not(:invalid) {
      outline: none !important;
      border-color: $input-border-focus !important;
      color: $input-color-focus;
    }

    &.-error {
      border-color: $input-color-error !important;

      + .input-helper {
        color: $input-color-error;
      }
    }

    &.-date {
      width: $input-width-date;

      &.-focus:not(.-f-lock) + .datepicker {
        display: block;
      }
    }
  }


  &-textarea {
    padding: $textarea-padding;

    height: $textarea-height;
    line-height: 16px;

    resize: none;
  }

  &-helper {
    padding: 2px 0;

    width: 100%;

    color: $input-color;

    font-size: 11px;
    font-style: italic;
  }
}