$nameplates-colors: (
  "green": #3caa3c,
  "orange": #fa660f,
  "blue": #358eda,
  "red": #d60000
);

$nameplates-sizes: (
  "xlg" : (
    padding: 0 14px,
    font-size: 14px,
    height: 24px,
    line-height: 24px
  ),
  "lg": (
    padding: 0 11px,
    font-size: 13px,
    font-weight: bold,
    height: 24px,
    line-height: 24px
  ),
  "sm": (
    padding: 0 9px 0 7px,
    height: 16px,
    line-height: 16px,
  ),
  "xsm": (
    padding: 0 6px,
    height: 16px,
    line-height: 16px,
    font-size: 11px
  )
);

%#{$nameplate} {
  display: $nameplate-display;

  border-radius: $nameplate-border-radius;

  padding: $nameplate-padding;

  width: $nameplate-width;
  height: $nameplate-height;
  line-height: $nameplate-height;

  color: $nameplate-color;

  font-family: $nameplate-font-family;
  font-size: $nameplate-font-size;
}

.#{$nameplate} {
  @each $color-name, $color-value in $nameplates-colors {
    &-#{$color-name} {
      @extend %#{$nameplate};

      background-color: $color-value;

      // size
      @each $size-name, $size-styles in $nameplates-sizes {
        &.-#{$size-name} {
          @each $style-name, $style-value in $size-styles {
            #{$style-name}: #{$style-value};
          }
        }
      }
    }
  }
}