.nav {
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: none !important;

    /* size */

    &.-small {
      width: 24px;
      height: 24px;
    }

    /* color */

    &.-grey {
      background-color: #999;
    }

    &.-red, &.-grey:hover {
      background-color: #d60000;
    }

    &.-green {
      background-color: #3caa3c;
    }

    /* type */

    &.-border {
      border-style: solid !important;
      border-width: 2px !important;

      width: 20px;
      height: 20px;

      background-color: transparent;

      &.-grey {
        border-color: #999 !important;
      }

      &.-red, &.-grey:hover {
        border-color: #d60000 !important;
      }
    }

    &.-round {
      border-radius: 50%;
    }

    &.-transparent {
      background-color: transparent !important;
    }



    &.-helper {
      position: relative;

      width: 12px;
      height: 12px;

      color: #fff;
      cursor: pointer;

      background: #999;

      font-size: 10.9px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;


      border-radius: 50%;
    }
  }

  &-padination {
    display: flex;

    width: fit-content;

    > .content {
      display: flex;

      padding-right: 8px;

      width: fit-content;

      .number {
        display: inline-block;

        border: none !important;
        border-radius: 50%;

        width: 24px;
        height: 24px;
        line-height: 25px;

        color: #000 !important;
        cursor: pointer;

        text-align: center;
        font-weight: bold;

        &.-active {
          background-color: #d60000 !important;

          color: #fff !important;
        }
      }

      .space {
        display: flex;

        margin-top: 5px;

        width: 8px;
        height: 13px;

        letter-spacing: -0.4px;
        text-align: center;
      }
    }
  }
}