.#{$popup-window} {
  position: relative;

  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
  border-radius: 6px;

  min-width: 120px;
  max-width: 320px;

  background-color: #fff;

  > .icon-cross {
    position: absolute;

    top: 12px;
    right: 12px;

    z-index: 1;
  }

  .head {
    position: relative;

    padding: 12px 20px 11px 19px;

    box-sizing: border-box;

    background-color: #e9e9e9;
    color: #000;

    font-size: 18px;
    font-weight: bold;
  }

  .content {
    padding: 16px 22px 16px 20px;

    box-sizing: border-box;

    color: #000;

    font-size: 13px;

    line-height: 16px;

    &.-icon {
      padding-left: 56px;
    }

    .nav-icon {
      position: absolute;

      top: 12px;
      left: 20px;
    }
  }
}


.#{$helper-window} {
  position: absolute;
  display: none;

  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, .5));
  border-radius: 6px;

  padding: 16px 25px 16px 20px;

  width: max-content;
  max-width: 320px;
  box-sizing: border-box;

  background-color: #fff;
  color: #333;

  font-size: 13px;
  font-weight: 300;
  line-height: 16px;

  &::before {
    content: "";

    position: absolute;
    display: block;

    width: 0;
    height: 0;
  }

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    z-index: 1000;

    &.-top {
      flex-direction: column;

      .#{$helper-window} {
        bottom: 28px;

        &::before {
          bottom: -12px;
          left: calc(50% - 12px);

          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 12px solid #fff;
        }
      }
    }

    &.-right {
      .helper-window {
        left: 28px;

        &::before {
          top: calc(50% - 12px);
          left: -12px;

          border-top: 12px solid transparent;
          border-right: 12px solid #fff;
          border-bottom: 12px solid transparent;
        }
      }
    }

    &.-bottom {
      flex-direction: column;

      .helper-window {
        top: 28px;

        &::before {
          top: -12px;
          left: calc(50% - 12px);

          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #fff;
        }
      }
    }

    &.-left {
      .helper-window {
        right: 28px;

        &::before {
          top: calc(50% - 12px);
          right: -12px;

          border-top: 12px solid transparent;
          border-left: 12px solid #fff;
          border-bottom: 12px solid transparent;
        }
      }
    }

    &:hover {
      .helper-window {
        display: block;
      }
    }
  }
}