.#{$select} {
  &-wrapper {
    position: relative;

    width: 240px;

    cursor: pointer;

    .choice {
      position: relative;
      display: block;
      box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1);

      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 2px;

      padding: 0 20px 0 6px;

      width: 100%;
      height: 24px;
      line-height: 22px;
      box-sizing: border-box;

      background-color: #fff;
      color: #000;

      letter-spacing: .1px;

      z-index: 1;

      &::before {
        content: "▼";

        position: absolute;

        top: 1px;
        right: 6px;

        color: #000;

        font-size: 9px;
      }
    }

    .droplist {
      position: absolute;
      display: none;
      flex-direction: column;

      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);

      top: 24px;
      left: 0;

      margin: 0;
      padding: 4px 0;

      width: 100%;

      background-color: #fff;

      .item {
        margin: 0;
        padding: 4px 8px;

        width: 100%;
        line-height: 16px;
        box-sizing: border-box;

        color: #000;
        list-style: none;

        &:hover:not(.-h-lock), &.-hover {
          background-color: #e9e9e9;
        }
      }
    }

    [type="checkbox"] {
      display: none;

      &:checked {
        + .choice {
          border-color: #7f7f7f;

          &::before {
            transform: rotate(180deg);
          }

          + .droplist {
            display: flex;
          }
        }
      }
    }
  }
}