$social-colors: (
  "grey": (
    background-color: transparent,
    border-color: #ccc
  )
);

$social-colors: (
  "vk": (#4a76a8, #4a76a8),
  "ok": (#ee8208, #ee8208),
  "fb": (#4267b2, #4267b2),
  "tw": (#1da1f2, #1da1f2),
  "yt": (#f00, #f00),
  "tm": (#27a5e7, #27a5e7),
  "wa": (#0dc143, #0dc143),
  "vb": (#7d519e, #7d519e),
  "grey" : (transparent, #ccc !important)
);

$social-sizes: (
  "lg": (
    width: 40px,
    height: 40px,
    line-height: 40px
  )
);

%#{$social} {
  position: $social-position;
  display: $social-display;
  justify-content: center;
  align-items: center;

  border-radius: $social-border-radius;
  border: $social-border !important;

  width: $social-width;
  height: $social-width;
  line-height: $social-width;
  box-sizing: border-box;

  cursor: $social-cursor;
}

.#{$social} {
  @each $color-name, $color-styles in $social-colors {
    &-#{$color-name} {
      @extend %#{$social};

      background-color: nth($color-styles, 1);
      border-color: nth($color-styles, 2);

      @each $size-name, $size-styles in $social-sizes {
        &.-#{$size-name} {
          @each $style-name, $style-value in $size-styles {
            #{$style-name}: #{$style-value};
          }
        }
      }

      &.-border {
        border-width: 1px !important;
        border-style: solid !important;
      }

      &.-round {
        border-radius: 50%;
      }
    }
  }
}