%wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

%tab {
  position: relative;
  display: inline-block;

  height: 36px;
  line-height: 36px;

  color: #000;
  cursor: pointer;
}

.#{$tabs} {
  &-wrapper {
    @extend %wrapper;

    font-size: 0;

    .tab {
      @extend %tab;

      border-radius: 6px;

      margin: 0 22px 0 0;
      padding: 0;

      font-size: 15px;
      font-weight: bold;
      letter-spacing: -.35px;

      &:before {
        content: "";
        position: absolute;

        left: 0;
        bottom: 9px;

        height: 0;

        width: 100%;
        border-bottom: 1px dotted #000;
      }

      &.-active {
        box-shadow: inset 0 3px 2px 0 rgba(0, 0, 0, .2);

        border: 1px solid rgba(0, 0, 0, .2);

        padding: 0 19px;

        height: 34px;
        line-height: 34px;

        background-color: #e9e9e9;

        &:before {
          border: none;
        }

        &:last-child {
          margin: 0;
        }
      }

      &.-hover:not(.-active),
      &:hover:not(.-active) {
        color: #d60000;

        &:before {
          border-color: #d60000;
        }
      }
    }
  }
}

.#{$switch} {
  &-wrapper {
    @extend %wrapper;
    border-bottom: 1px solid #b2b2b2;
    padding-right: 40px;

    .tab {
      @extend %tab;

      text-shadow: none;

      border-radius: 6px 6px 0 0;
      border: 1px solid #ccc;
      border-bottom-color: transparent;
      background-color: #f4f4f4;

      margin: 0 1px -1px 0;
      padding: 0 15px;

      height: 35px;
      box-sizing: border-box;

      font-size: 13.3px;

      letter-spacing: -.44px;

      &:last-child {
        margin-right: 0;
      }

      > .more {
        color: #999;
        text-shadow: none;
      }

      &.-icon {

        > .icon {
          position: absolute;

          top: 7px;
          left: 11px;
        }

        &-left {
          padding-left: 42px;
        }

        &-right {
          padding-right: 42px;
        }
      }

      > .underline {
        position: relative;

        &:before {
          content: "";
          position: absolute;

          left: 0;
          bottom: -1px;

          height: 0;

          width: 100%;
          border-bottom: 1px dotted #000;
        }
      }

      &.-active {
        margin-bottom: -1px;

        height: 36px;

        color: #d60000;
        border-color: #b2b2b2;
        border-bottom-color: #fff;
        background-color: #fff;

        font-weight: bold;

        > .underline {
          &:before {
            border: none;
          }
        }
      }
      &.-hover, &:hover {
        color: #d60000;

        > .underline {
          &:before {
            border-color: #d60000;
          }
        }
      }
    }
  }
}