.table-wrapper {
  border-spacing: 0;
  border-collapse: collapse;

  > thead {
    &.-bg {
      background-color: #e9e9e9;
      border: none;
    }

    > tr {
      border: none;

      > th {
        padding: 12px 0;

        color: #000;
        font-weight: bold;

        font-size: 13px;
        line-height: 16px;
        vertical-align: top;

        &:last-child { padding-right: 12px; }

        &.-align {
          &-center {
            text-align: center;
          }
        }
      }
    }
  }

  tr {
    border-bottom: 1px solid #ccc;

    td {
      vertical-align: top;

      padding: 16px 0 15px 0;

      font-size: 13px;
      line-height: 16px;
      letter-spacing: -.3px;

      &:last-child { padding-right: 12px; }

      &.-align {
        &-center {
          text-align: center;
        }
        &-left {
          text-align: left;
        }
        &-right {
          text-align: right;
        }
      }

      small {
        color: #666;
      }
    }
  }

  &.-collapse {
    tr {
      &.-header {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
      }

      > th {
        padding-bottom: 11px;
      }

      > td {
        padding: 16px 0 15px 0;

        letter-spacing: .1px;
        line-height: 16px;

        > .price {
          font-size: 15px;
          line-height: 14px;
          letter-spacing: -.2px;
        }

        > .count {
          letter-spacing: -.6px;
          margin-left: -3px;
        }

        > .small {
          letter-spacing: 0.5px;
        }

        > .-table-list {
          margin: 3px 0 1px 0;
          padding: 0;

          > li {
            position: relative;

            margin: 0;
            padding: 3px 0 1px 12px;

            list-style: none;
            line-height: 11px;
            letter-spacing: .43px;

            &:after, &:before {
              content: "+";

              position: absolute;
              display: block;

              top: 2px;
              left: 0;

              color: #666;

              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

table:not(.-collapse) th:first-child,
table:not(.-collapse) td:first-child {
  padding-left: 12px;
}