@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic-ext);@charset "UTF-8";
/* *** BASE *** */
/* *** COMPONENTS *** */
.fl, .flc {
  display: flex !important;
  float: none !important; }

.fli {
  display: inline-flex !important; }

.flc {
  flex-direction: column !important; }

.flex {
  display: flex !important; }
  .flex-column {
    flex-direction: column !important; }
  .flex .row {
    display: flex;
    flex-wrap: wrap; }
    .flex .row .col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%; }
      .flex .row .col-2 {
        flex: 0 0 "16.66667%";
        max-width: "16.66667%"; }
      .flex .row .col-3 {
        flex: 0 0 "25%";
        max-width: "25%"; }
      .flex .row .col-4 {
        flex: 0 0 "33.33333%";
        max-width: "33.33333%"; }
      .flex .row .col-5 {
        flex: 0 0 "41.66667%";
        max-width: "41.66667%"; }
      .flex .row .col-6 {
        flex: 0 0 "50%";
        max-width: "50%"; }
      .flex .row .col-7 {
        flex: 0 0 "58.33333%";
        max-width: "58.33333%"; }
      .flex .row .col-8 {
        flex: 0 0 "66.66667%";
        max-width: "66.66667%"; }
      .flex .row .col-9 {
        flex: 0 0 "75%";
        max-width: "75%"; }
      .flex .row .col-10 {
        flex: 0 0 "83.33333%";
        max-width: "83.33333%"; }
      .flex .row .col-11 {
        flex: 0 0 "91.66667%";
        max-width: "91.66667%"; }

.order-0 {
  order: 0 !important; }

.order-1 {
  order: 1 !important; }

.order-2 {
  order: 2 !important; }

.order-3 {
  order: 3 !important; }

.order-4 {
  order: 4 !important; }

.order-5 {
  order: 5 !important; }

.order-6 {
  order: 6 !important; }

.order-7 {
  order: 7 !important; }

.order-8 {
  order: 8 !important; }

.order-9 {
  order: 9 !important; }

.order-10 {
  order: 10 !important; }

.order-11 {
  order: 11 !important; }

.order-12 {
  order: 12 !important; }

.pos-fixed {
  position: fixed !important; }

.pos-stiky {
  position: stiky !important; }

.pos-relative {
  position: relative !important; }

.pos-absolute {
  position: absolute !important; }

.pos-static {
  position: static !important; }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

.align-items-flex-start {
  align-items: flex-start !important; }

.align-items-center {
  align-items: center !important; }

.align-items-flex-end {
  align-items: flex-end !important; }

.align-self-flex-start {
  align-self: flex-start !important; }

.align-self-center {
  align-self: center !important; }

.align-self-flex-end {
  align-self: flex-end !important; }

.justify-content-start {
  justify-content: start !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-end {
  justify-content: end !important; }

.justify-content-space-around {
  justify-content: space-around !important; }

.justify-content-space-between {
  justify-content: space-between !important; }

.m-auto {
  margin: auto !important; }

.m-0 {
  margin: 0 !important; }

.p-auto {
  padding: auto !important; }

.p-0 {
  padding: 0 !important; }

.mt-0 {
  margin-top: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.mt-1 {
  margin-top: 1px !important; }

.mr-1 {
  margin-right: 1px !important; }

.mb-1 {
  margin-bottom: 1px !important; }

.ml-1 {
  margin-left: 1px !important; }

.pt-1 {
  padding-top: 1px !important; }

.pr-1 {
  padding-right: 1px !important; }

.pb-1 {
  padding-bottom: 1px !important; }

.pl-1 {
  padding-left: 1px !important; }

.mt-2 {
  margin-top: 2px !important; }

.mr-2 {
  margin-right: 2px !important; }

.mb-2 {
  margin-bottom: 2px !important; }

.ml-2 {
  margin-left: 2px !important; }

.pt-2 {
  padding-top: 2px !important; }

.pr-2 {
  padding-right: 2px !important; }

.pb-2 {
  padding-bottom: 2px !important; }

.pl-2 {
  padding-left: 2px !important; }

.mt-3 {
  margin-top: 3px !important; }

.mr-3 {
  margin-right: 3px !important; }

.mb-3 {
  margin-bottom: 3px !important; }

.ml-3 {
  margin-left: 3px !important; }

.pt-3 {
  padding-top: 3px !important; }

.pr-3 {
  padding-right: 3px !important; }

.pb-3 {
  padding-bottom: 3px !important; }

.pl-3 {
  padding-left: 3px !important; }

.mt-4 {
  margin-top: 4px !important; }

.mr-4 {
  margin-right: 4px !important; }

.mb-4 {
  margin-bottom: 4px !important; }

.ml-4 {
  margin-left: 4px !important; }

.pt-4 {
  padding-top: 4px !important; }

.pr-4 {
  padding-right: 4px !important; }

.pb-4 {
  padding-bottom: 4px !important; }

.pl-4 {
  padding-left: 4px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.mt-6 {
  margin-top: 6px !important; }

.mr-6 {
  margin-right: 6px !important; }

.mb-6 {
  margin-bottom: 6px !important; }

.ml-6 {
  margin-left: 6px !important; }

.pt-6 {
  padding-top: 6px !important; }

.pr-6 {
  padding-right: 6px !important; }

.pb-6 {
  padding-bottom: 6px !important; }

.pl-6 {
  padding-left: 6px !important; }

.mt-7 {
  margin-top: 7px !important; }

.mr-7 {
  margin-right: 7px !important; }

.mb-7 {
  margin-bottom: 7px !important; }

.ml-7 {
  margin-left: 7px !important; }

.pt-7 {
  padding-top: 7px !important; }

.pr-7 {
  padding-right: 7px !important; }

.pb-7 {
  padding-bottom: 7px !important; }

.pl-7 {
  padding-left: 7px !important; }

.mt-8 {
  margin-top: 8px !important; }

.mr-8 {
  margin-right: 8px !important; }

.mb-8 {
  margin-bottom: 8px !important; }

.ml-8 {
  margin-left: 8px !important; }

.pt-8 {
  padding-top: 8px !important; }

.pr-8 {
  padding-right: 8px !important; }

.pb-8 {
  padding-bottom: 8px !important; }

.pl-8 {
  padding-left: 8px !important; }

.mt-9 {
  margin-top: 9px !important; }

.mr-9 {
  margin-right: 9px !important; }

.mb-9 {
  margin-bottom: 9px !important; }

.ml-9 {
  margin-left: 9px !important; }

.pt-9 {
  padding-top: 9px !important; }

.pr-9 {
  padding-right: 9px !important; }

.pb-9 {
  padding-bottom: 9px !important; }

.pl-9 {
  padding-left: 9px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.mt-11 {
  margin-top: 11px !important; }

.mr-11 {
  margin-right: 11px !important; }

.mb-11 {
  margin-bottom: 11px !important; }

.ml-11 {
  margin-left: 11px !important; }

.pt-11 {
  padding-top: 11px !important; }

.pr-11 {
  padding-right: 11px !important; }

.pb-11 {
  padding-bottom: 11px !important; }

.pl-11 {
  padding-left: 11px !important; }

.mt-12 {
  margin-top: 12px !important; }

.mr-12 {
  margin-right: 12px !important; }

.mb-12 {
  margin-bottom: 12px !important; }

.ml-12 {
  margin-left: 12px !important; }

.pt-12 {
  padding-top: 12px !important; }

.pr-12 {
  padding-right: 12px !important; }

.pb-12 {
  padding-bottom: 12px !important; }

.pl-12 {
  padding-left: 12px !important; }

.mt-13 {
  margin-top: 13px !important; }

.mr-13 {
  margin-right: 13px !important; }

.mb-13 {
  margin-bottom: 13px !important; }

.ml-13 {
  margin-left: 13px !important; }

.pt-13 {
  padding-top: 13px !important; }

.pr-13 {
  padding-right: 13px !important; }

.pb-13 {
  padding-bottom: 13px !important; }

.pl-13 {
  padding-left: 13px !important; }

.mt-14 {
  margin-top: 14px !important; }

.mr-14 {
  margin-right: 14px !important; }

.mb-14 {
  margin-bottom: 14px !important; }

.ml-14 {
  margin-left: 14px !important; }

.pt-14 {
  padding-top: 14px !important; }

.pr-14 {
  padding-right: 14px !important; }

.pb-14 {
  padding-bottom: 14px !important; }

.pl-14 {
  padding-left: 14px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.mt-16 {
  margin-top: 16px !important; }

.mr-16 {
  margin-right: 16px !important; }

.mb-16 {
  margin-bottom: 16px !important; }

.ml-16 {
  margin-left: 16px !important; }

.pt-16 {
  padding-top: 16px !important; }

.pr-16 {
  padding-right: 16px !important; }

.pb-16 {
  padding-bottom: 16px !important; }

.pl-16 {
  padding-left: 16px !important; }

.mt-17 {
  margin-top: 17px !important; }

.mr-17 {
  margin-right: 17px !important; }

.mb-17 {
  margin-bottom: 17px !important; }

.ml-17 {
  margin-left: 17px !important; }

.pt-17 {
  padding-top: 17px !important; }

.pr-17 {
  padding-right: 17px !important; }

.pb-17 {
  padding-bottom: 17px !important; }

.pl-17 {
  padding-left: 17px !important; }

.mt-18 {
  margin-top: 18px !important; }

.mr-18 {
  margin-right: 18px !important; }

.mb-18 {
  margin-bottom: 18px !important; }

.ml-18 {
  margin-left: 18px !important; }

.pt-18 {
  padding-top: 18px !important; }

.pr-18 {
  padding-right: 18px !important; }

.pb-18 {
  padding-bottom: 18px !important; }

.pl-18 {
  padding-left: 18px !important; }

.mt-19 {
  margin-top: 19px !important; }

.mr-19 {
  margin-right: 19px !important; }

.mb-19 {
  margin-bottom: 19px !important; }

.ml-19 {
  margin-left: 19px !important; }

.pt-19 {
  padding-top: 19px !important; }

.pr-19 {
  padding-right: 19px !important; }

.pb-19 {
  padding-bottom: 19px !important; }

.pl-19 {
  padding-left: 19px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.mt-21 {
  margin-top: 21px !important; }

.mr-21 {
  margin-right: 21px !important; }

.mb-21 {
  margin-bottom: 21px !important; }

.ml-21 {
  margin-left: 21px !important; }

.pt-21 {
  padding-top: 21px !important; }

.pr-21 {
  padding-right: 21px !important; }

.pb-21 {
  padding-bottom: 21px !important; }

.pl-21 {
  padding-left: 21px !important; }

.mt-22 {
  margin-top: 22px !important; }

.mr-22 {
  margin-right: 22px !important; }

.mb-22 {
  margin-bottom: 22px !important; }

.ml-22 {
  margin-left: 22px !important; }

.pt-22 {
  padding-top: 22px !important; }

.pr-22 {
  padding-right: 22px !important; }

.pb-22 {
  padding-bottom: 22px !important; }

.pl-22 {
  padding-left: 22px !important; }

.mt-23 {
  margin-top: 23px !important; }

.mr-23 {
  margin-right: 23px !important; }

.mb-23 {
  margin-bottom: 23px !important; }

.ml-23 {
  margin-left: 23px !important; }

.pt-23 {
  padding-top: 23px !important; }

.pr-23 {
  padding-right: 23px !important; }

.pb-23 {
  padding-bottom: 23px !important; }

.pl-23 {
  padding-left: 23px !important; }

.mt-24 {
  margin-top: 24px !important; }

.mr-24 {
  margin-right: 24px !important; }

.mb-24 {
  margin-bottom: 24px !important; }

.ml-24 {
  margin-left: 24px !important; }

.pt-24 {
  padding-top: 24px !important; }

.pr-24 {
  padding-right: 24px !important; }

.pb-24 {
  padding-bottom: 24px !important; }

.pl-24 {
  padding-left: 24px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.mt-26 {
  margin-top: 26px !important; }

.mr-26 {
  margin-right: 26px !important; }

.mb-26 {
  margin-bottom: 26px !important; }

.ml-26 {
  margin-left: 26px !important; }

.pt-26 {
  padding-top: 26px !important; }

.pr-26 {
  padding-right: 26px !important; }

.pb-26 {
  padding-bottom: 26px !important; }

.pl-26 {
  padding-left: 26px !important; }

.mt-27 {
  margin-top: 27px !important; }

.mr-27 {
  margin-right: 27px !important; }

.mb-27 {
  margin-bottom: 27px !important; }

.ml-27 {
  margin-left: 27px !important; }

.pt-27 {
  padding-top: 27px !important; }

.pr-27 {
  padding-right: 27px !important; }

.pb-27 {
  padding-bottom: 27px !important; }

.pl-27 {
  padding-left: 27px !important; }

.mt-28 {
  margin-top: 28px !important; }

.mr-28 {
  margin-right: 28px !important; }

.mb-28 {
  margin-bottom: 28px !important; }

.ml-28 {
  margin-left: 28px !important; }

.pt-28 {
  padding-top: 28px !important; }

.pr-28 {
  padding-right: 28px !important; }

.pb-28 {
  padding-bottom: 28px !important; }

.pl-28 {
  padding-left: 28px !important; }

.mt-29 {
  margin-top: 29px !important; }

.mr-29 {
  margin-right: 29px !important; }

.mb-29 {
  margin-bottom: 29px !important; }

.ml-29 {
  margin-left: 29px !important; }

.pt-29 {
  padding-top: 29px !important; }

.pr-29 {
  padding-right: 29px !important; }

.pb-29 {
  padding-bottom: 29px !important; }

.pl-29 {
  padding-left: 29px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.mt-31 {
  margin-top: 31px !important; }

.mr-31 {
  margin-right: 31px !important; }

.mb-31 {
  margin-bottom: 31px !important; }

.ml-31 {
  margin-left: 31px !important; }

.pt-31 {
  padding-top: 31px !important; }

.pr-31 {
  padding-right: 31px !important; }

.pb-31 {
  padding-bottom: 31px !important; }

.pl-31 {
  padding-left: 31px !important; }

.mt-32 {
  margin-top: 32px !important; }

.mr-32 {
  margin-right: 32px !important; }

.mb-32 {
  margin-bottom: 32px !important; }

.ml-32 {
  margin-left: 32px !important; }

.pt-32 {
  padding-top: 32px !important; }

.pr-32 {
  padding-right: 32px !important; }

.pb-32 {
  padding-bottom: 32px !important; }

.pl-32 {
  padding-left: 32px !important; }

.mt-33 {
  margin-top: 33px !important; }

.mr-33 {
  margin-right: 33px !important; }

.mb-33 {
  margin-bottom: 33px !important; }

.ml-33 {
  margin-left: 33px !important; }

.pt-33 {
  padding-top: 33px !important; }

.pr-33 {
  padding-right: 33px !important; }

.pb-33 {
  padding-bottom: 33px !important; }

.pl-33 {
  padding-left: 33px !important; }

.mt-34 {
  margin-top: 34px !important; }

.mr-34 {
  margin-right: 34px !important; }

.mb-34 {
  margin-bottom: 34px !important; }

.ml-34 {
  margin-left: 34px !important; }

.pt-34 {
  padding-top: 34px !important; }

.pr-34 {
  padding-right: 34px !important; }

.pb-34 {
  padding-bottom: 34px !important; }

.pl-34 {
  padding-left: 34px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.mt-36 {
  margin-top: 36px !important; }

.mr-36 {
  margin-right: 36px !important; }

.mb-36 {
  margin-bottom: 36px !important; }

.ml-36 {
  margin-left: 36px !important; }

.pt-36 {
  padding-top: 36px !important; }

.pr-36 {
  padding-right: 36px !important; }

.pb-36 {
  padding-bottom: 36px !important; }

.pl-36 {
  padding-left: 36px !important; }

.mt-37 {
  margin-top: 37px !important; }

.mr-37 {
  margin-right: 37px !important; }

.mb-37 {
  margin-bottom: 37px !important; }

.ml-37 {
  margin-left: 37px !important; }

.pt-37 {
  padding-top: 37px !important; }

.pr-37 {
  padding-right: 37px !important; }

.pb-37 {
  padding-bottom: 37px !important; }

.pl-37 {
  padding-left: 37px !important; }

.mt-38 {
  margin-top: 38px !important; }

.mr-38 {
  margin-right: 38px !important; }

.mb-38 {
  margin-bottom: 38px !important; }

.ml-38 {
  margin-left: 38px !important; }

.pt-38 {
  padding-top: 38px !important; }

.pr-38 {
  padding-right: 38px !important; }

.pb-38 {
  padding-bottom: 38px !important; }

.pl-38 {
  padding-left: 38px !important; }

.mt-39 {
  margin-top: 39px !important; }

.mr-39 {
  margin-right: 39px !important; }

.mb-39 {
  margin-bottom: 39px !important; }

.ml-39 {
  margin-left: 39px !important; }

.pt-39 {
  padding-top: 39px !important; }

.pr-39 {
  padding-right: 39px !important; }

.pb-39 {
  padding-bottom: 39px !important; }

.pl-39 {
  padding-left: 39px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.mt-41 {
  margin-top: 41px !important; }

.mr-41 {
  margin-right: 41px !important; }

.mb-41 {
  margin-bottom: 41px !important; }

.ml-41 {
  margin-left: 41px !important; }

.pt-41 {
  padding-top: 41px !important; }

.pr-41 {
  padding-right: 41px !important; }

.pb-41 {
  padding-bottom: 41px !important; }

.pl-41 {
  padding-left: 41px !important; }

.mt-42 {
  margin-top: 42px !important; }

.mr-42 {
  margin-right: 42px !important; }

.mb-42 {
  margin-bottom: 42px !important; }

.ml-42 {
  margin-left: 42px !important; }

.pt-42 {
  padding-top: 42px !important; }

.pr-42 {
  padding-right: 42px !important; }

.pb-42 {
  padding-bottom: 42px !important; }

.pl-42 {
  padding-left: 42px !important; }

.mt-43 {
  margin-top: 43px !important; }

.mr-43 {
  margin-right: 43px !important; }

.mb-43 {
  margin-bottom: 43px !important; }

.ml-43 {
  margin-left: 43px !important; }

.pt-43 {
  padding-top: 43px !important; }

.pr-43 {
  padding-right: 43px !important; }

.pb-43 {
  padding-bottom: 43px !important; }

.pl-43 {
  padding-left: 43px !important; }

.mt-44 {
  margin-top: 44px !important; }

.mr-44 {
  margin-right: 44px !important; }

.mb-44 {
  margin-bottom: 44px !important; }

.ml-44 {
  margin-left: 44px !important; }

.pt-44 {
  padding-top: 44px !important; }

.pr-44 {
  padding-right: 44px !important; }

.pb-44 {
  padding-bottom: 44px !important; }

.pl-44 {
  padding-left: 44px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.ml-45 {
  margin-left: 45px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pl-45 {
  padding-left: 45px !important; }

.mt-46 {
  margin-top: 46px !important; }

.mr-46 {
  margin-right: 46px !important; }

.mb-46 {
  margin-bottom: 46px !important; }

.ml-46 {
  margin-left: 46px !important; }

.pt-46 {
  padding-top: 46px !important; }

.pr-46 {
  padding-right: 46px !important; }

.pb-46 {
  padding-bottom: 46px !important; }

.pl-46 {
  padding-left: 46px !important; }

.mt-47 {
  margin-top: 47px !important; }

.mr-47 {
  margin-right: 47px !important; }

.mb-47 {
  margin-bottom: 47px !important; }

.ml-47 {
  margin-left: 47px !important; }

.pt-47 {
  padding-top: 47px !important; }

.pr-47 {
  padding-right: 47px !important; }

.pb-47 {
  padding-bottom: 47px !important; }

.pl-47 {
  padding-left: 47px !important; }

.mt-48 {
  margin-top: 48px !important; }

.mr-48 {
  margin-right: 48px !important; }

.mb-48 {
  margin-bottom: 48px !important; }

.ml-48 {
  margin-left: 48px !important; }

.pt-48 {
  padding-top: 48px !important; }

.pr-48 {
  padding-right: 48px !important; }

.pb-48 {
  padding-bottom: 48px !important; }

.pl-48 {
  padding-left: 48px !important; }

.mt-49 {
  margin-top: 49px !important; }

.mr-49 {
  margin-right: 49px !important; }

.mb-49 {
  margin-bottom: 49px !important; }

.ml-49 {
  margin-left: 49px !important; }

.pt-49 {
  padding-top: 49px !important; }

.pr-49 {
  padding-right: 49px !important; }

.pb-49 {
  padding-bottom: 49px !important; }

.pl-49 {
  padding-left: 49px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.mt-51 {
  margin-top: 51px !important; }

.mr-51 {
  margin-right: 51px !important; }

.mb-51 {
  margin-bottom: 51px !important; }

.ml-51 {
  margin-left: 51px !important; }

.pt-51 {
  padding-top: 51px !important; }

.pr-51 {
  padding-right: 51px !important; }

.pb-51 {
  padding-bottom: 51px !important; }

.pl-51 {
  padding-left: 51px !important; }

.mt-52 {
  margin-top: 52px !important; }

.mr-52 {
  margin-right: 52px !important; }

.mb-52 {
  margin-bottom: 52px !important; }

.ml-52 {
  margin-left: 52px !important; }

.pt-52 {
  padding-top: 52px !important; }

.pr-52 {
  padding-right: 52px !important; }

.pb-52 {
  padding-bottom: 52px !important; }

.pl-52 {
  padding-left: 52px !important; }

.mt-53 {
  margin-top: 53px !important; }

.mr-53 {
  margin-right: 53px !important; }

.mb-53 {
  margin-bottom: 53px !important; }

.ml-53 {
  margin-left: 53px !important; }

.pt-53 {
  padding-top: 53px !important; }

.pr-53 {
  padding-right: 53px !important; }

.pb-53 {
  padding-bottom: 53px !important; }

.pl-53 {
  padding-left: 53px !important; }

.mt-54 {
  margin-top: 54px !important; }

.mr-54 {
  margin-right: 54px !important; }

.mb-54 {
  margin-bottom: 54px !important; }

.ml-54 {
  margin-left: 54px !important; }

.pt-54 {
  padding-top: 54px !important; }

.pr-54 {
  padding-right: 54px !important; }

.pb-54 {
  padding-bottom: 54px !important; }

.pl-54 {
  padding-left: 54px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mr-55 {
  margin-right: 55px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.ml-55 {
  margin-left: 55px !important; }

.pt-55 {
  padding-top: 55px !important; }

.pr-55 {
  padding-right: 55px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pl-55 {
  padding-left: 55px !important; }

.mt-56 {
  margin-top: 56px !important; }

.mr-56 {
  margin-right: 56px !important; }

.mb-56 {
  margin-bottom: 56px !important; }

.ml-56 {
  margin-left: 56px !important; }

.pt-56 {
  padding-top: 56px !important; }

.pr-56 {
  padding-right: 56px !important; }

.pb-56 {
  padding-bottom: 56px !important; }

.pl-56 {
  padding-left: 56px !important; }

.mt-57 {
  margin-top: 57px !important; }

.mr-57 {
  margin-right: 57px !important; }

.mb-57 {
  margin-bottom: 57px !important; }

.ml-57 {
  margin-left: 57px !important; }

.pt-57 {
  padding-top: 57px !important; }

.pr-57 {
  padding-right: 57px !important; }

.pb-57 {
  padding-bottom: 57px !important; }

.pl-57 {
  padding-left: 57px !important; }

.mt-58 {
  margin-top: 58px !important; }

.mr-58 {
  margin-right: 58px !important; }

.mb-58 {
  margin-bottom: 58px !important; }

.ml-58 {
  margin-left: 58px !important; }

.pt-58 {
  padding-top: 58px !important; }

.pr-58 {
  padding-right: 58px !important; }

.pb-58 {
  padding-bottom: 58px !important; }

.pl-58 {
  padding-left: 58px !important; }

.mt-59 {
  margin-top: 59px !important; }

.mr-59 {
  margin-right: 59px !important; }

.mb-59 {
  margin-bottom: 59px !important; }

.ml-59 {
  margin-left: 59px !important; }

.pt-59 {
  padding-top: 59px !important; }

.pr-59 {
  padding-right: 59px !important; }

.pb-59 {
  padding-bottom: 59px !important; }

.pl-59 {
  padding-left: 59px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mr-60 {
  margin-right: 60px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.ml-60 {
  margin-left: 60px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pl-60 {
  padding-left: 60px !important; }

.mt-61 {
  margin-top: 61px !important; }

.mr-61 {
  margin-right: 61px !important; }

.mb-61 {
  margin-bottom: 61px !important; }

.ml-61 {
  margin-left: 61px !important; }

.pt-61 {
  padding-top: 61px !important; }

.pr-61 {
  padding-right: 61px !important; }

.pb-61 {
  padding-bottom: 61px !important; }

.pl-61 {
  padding-left: 61px !important; }

.mt-62 {
  margin-top: 62px !important; }

.mr-62 {
  margin-right: 62px !important; }

.mb-62 {
  margin-bottom: 62px !important; }

.ml-62 {
  margin-left: 62px !important; }

.pt-62 {
  padding-top: 62px !important; }

.pr-62 {
  padding-right: 62px !important; }

.pb-62 {
  padding-bottom: 62px !important; }

.pl-62 {
  padding-left: 62px !important; }

.mt-63 {
  margin-top: 63px !important; }

.mr-63 {
  margin-right: 63px !important; }

.mb-63 {
  margin-bottom: 63px !important; }

.ml-63 {
  margin-left: 63px !important; }

.pt-63 {
  padding-top: 63px !important; }

.pr-63 {
  padding-right: 63px !important; }

.pb-63 {
  padding-bottom: 63px !important; }

.pl-63 {
  padding-left: 63px !important; }

.mt-64 {
  margin-top: 64px !important; }

.mr-64 {
  margin-right: 64px !important; }

.mb-64 {
  margin-bottom: 64px !important; }

.ml-64 {
  margin-left: 64px !important; }

.pt-64 {
  padding-top: 64px !important; }

.pr-64 {
  padding-right: 64px !important; }

.pb-64 {
  padding-bottom: 64px !important; }

.pl-64 {
  padding-left: 64px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mr-65 {
  margin-right: 65px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.ml-65 {
  margin-left: 65px !important; }

.pt-65 {
  padding-top: 65px !important; }

.pr-65 {
  padding-right: 65px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pl-65 {
  padding-left: 65px !important; }

.mt-66 {
  margin-top: 66px !important; }

.mr-66 {
  margin-right: 66px !important; }

.mb-66 {
  margin-bottom: 66px !important; }

.ml-66 {
  margin-left: 66px !important; }

.pt-66 {
  padding-top: 66px !important; }

.pr-66 {
  padding-right: 66px !important; }

.pb-66 {
  padding-bottom: 66px !important; }

.pl-66 {
  padding-left: 66px !important; }

.mt-67 {
  margin-top: 67px !important; }

.mr-67 {
  margin-right: 67px !important; }

.mb-67 {
  margin-bottom: 67px !important; }

.ml-67 {
  margin-left: 67px !important; }

.pt-67 {
  padding-top: 67px !important; }

.pr-67 {
  padding-right: 67px !important; }

.pb-67 {
  padding-bottom: 67px !important; }

.pl-67 {
  padding-left: 67px !important; }

.mt-68 {
  margin-top: 68px !important; }

.mr-68 {
  margin-right: 68px !important; }

.mb-68 {
  margin-bottom: 68px !important; }

.ml-68 {
  margin-left: 68px !important; }

.pt-68 {
  padding-top: 68px !important; }

.pr-68 {
  padding-right: 68px !important; }

.pb-68 {
  padding-bottom: 68px !important; }

.pl-68 {
  padding-left: 68px !important; }

.mt-69 {
  margin-top: 69px !important; }

.mr-69 {
  margin-right: 69px !important; }

.mb-69 {
  margin-bottom: 69px !important; }

.ml-69 {
  margin-left: 69px !important; }

.pt-69 {
  padding-top: 69px !important; }

.pr-69 {
  padding-right: 69px !important; }

.pb-69 {
  padding-bottom: 69px !important; }

.pl-69 {
  padding-left: 69px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mr-70 {
  margin-right: 70px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.ml-70 {
  margin-left: 70px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pl-70 {
  padding-left: 70px !important; }

.mt-71 {
  margin-top: 71px !important; }

.mr-71 {
  margin-right: 71px !important; }

.mb-71 {
  margin-bottom: 71px !important; }

.ml-71 {
  margin-left: 71px !important; }

.pt-71 {
  padding-top: 71px !important; }

.pr-71 {
  padding-right: 71px !important; }

.pb-71 {
  padding-bottom: 71px !important; }

.pl-71 {
  padding-left: 71px !important; }

.mt-72 {
  margin-top: 72px !important; }

.mr-72 {
  margin-right: 72px !important; }

.mb-72 {
  margin-bottom: 72px !important; }

.ml-72 {
  margin-left: 72px !important; }

.pt-72 {
  padding-top: 72px !important; }

.pr-72 {
  padding-right: 72px !important; }

.pb-72 {
  padding-bottom: 72px !important; }

.pl-72 {
  padding-left: 72px !important; }

.mt-73 {
  margin-top: 73px !important; }

.mr-73 {
  margin-right: 73px !important; }

.mb-73 {
  margin-bottom: 73px !important; }

.ml-73 {
  margin-left: 73px !important; }

.pt-73 {
  padding-top: 73px !important; }

.pr-73 {
  padding-right: 73px !important; }

.pb-73 {
  padding-bottom: 73px !important; }

.pl-73 {
  padding-left: 73px !important; }

.mt-74 {
  margin-top: 74px !important; }

.mr-74 {
  margin-right: 74px !important; }

.mb-74 {
  margin-bottom: 74px !important; }

.ml-74 {
  margin-left: 74px !important; }

.pt-74 {
  padding-top: 74px !important; }

.pr-74 {
  padding-right: 74px !important; }

.pb-74 {
  padding-bottom: 74px !important; }

.pl-74 {
  padding-left: 74px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mr-75 {
  margin-right: 75px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.ml-75 {
  margin-left: 75px !important; }

.pt-75 {
  padding-top: 75px !important; }

.pr-75 {
  padding-right: 75px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pl-75 {
  padding-left: 75px !important; }

.mt-76 {
  margin-top: 76px !important; }

.mr-76 {
  margin-right: 76px !important; }

.mb-76 {
  margin-bottom: 76px !important; }

.ml-76 {
  margin-left: 76px !important; }

.pt-76 {
  padding-top: 76px !important; }

.pr-76 {
  padding-right: 76px !important; }

.pb-76 {
  padding-bottom: 76px !important; }

.pl-76 {
  padding-left: 76px !important; }

.mt-77 {
  margin-top: 77px !important; }

.mr-77 {
  margin-right: 77px !important; }

.mb-77 {
  margin-bottom: 77px !important; }

.ml-77 {
  margin-left: 77px !important; }

.pt-77 {
  padding-top: 77px !important; }

.pr-77 {
  padding-right: 77px !important; }

.pb-77 {
  padding-bottom: 77px !important; }

.pl-77 {
  padding-left: 77px !important; }

.mt-78 {
  margin-top: 78px !important; }

.mr-78 {
  margin-right: 78px !important; }

.mb-78 {
  margin-bottom: 78px !important; }

.ml-78 {
  margin-left: 78px !important; }

.pt-78 {
  padding-top: 78px !important; }

.pr-78 {
  padding-right: 78px !important; }

.pb-78 {
  padding-bottom: 78px !important; }

.pl-78 {
  padding-left: 78px !important; }

.mt-79 {
  margin-top: 79px !important; }

.mr-79 {
  margin-right: 79px !important; }

.mb-79 {
  margin-bottom: 79px !important; }

.ml-79 {
  margin-left: 79px !important; }

.pt-79 {
  padding-top: 79px !important; }

.pr-79 {
  padding-right: 79px !important; }

.pb-79 {
  padding-bottom: 79px !important; }

.pl-79 {
  padding-left: 79px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mr-80 {
  margin-right: 80px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.ml-80 {
  margin-left: 80px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pr-80 {
  padding-right: 80px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pl-80 {
  padding-left: 80px !important; }

.mt-81 {
  margin-top: 81px !important; }

.mr-81 {
  margin-right: 81px !important; }

.mb-81 {
  margin-bottom: 81px !important; }

.ml-81 {
  margin-left: 81px !important; }

.pt-81 {
  padding-top: 81px !important; }

.pr-81 {
  padding-right: 81px !important; }

.pb-81 {
  padding-bottom: 81px !important; }

.pl-81 {
  padding-left: 81px !important; }

.mt-82 {
  margin-top: 82px !important; }

.mr-82 {
  margin-right: 82px !important; }

.mb-82 {
  margin-bottom: 82px !important; }

.ml-82 {
  margin-left: 82px !important; }

.pt-82 {
  padding-top: 82px !important; }

.pr-82 {
  padding-right: 82px !important; }

.pb-82 {
  padding-bottom: 82px !important; }

.pl-82 {
  padding-left: 82px !important; }

.mt-83 {
  margin-top: 83px !important; }

.mr-83 {
  margin-right: 83px !important; }

.mb-83 {
  margin-bottom: 83px !important; }

.ml-83 {
  margin-left: 83px !important; }

.pt-83 {
  padding-top: 83px !important; }

.pr-83 {
  padding-right: 83px !important; }

.pb-83 {
  padding-bottom: 83px !important; }

.pl-83 {
  padding-left: 83px !important; }

.mt-84 {
  margin-top: 84px !important; }

.mr-84 {
  margin-right: 84px !important; }

.mb-84 {
  margin-bottom: 84px !important; }

.ml-84 {
  margin-left: 84px !important; }

.pt-84 {
  padding-top: 84px !important; }

.pr-84 {
  padding-right: 84px !important; }

.pb-84 {
  padding-bottom: 84px !important; }

.pl-84 {
  padding-left: 84px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mr-85 {
  margin-right: 85px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.ml-85 {
  margin-left: 85px !important; }

.pt-85 {
  padding-top: 85px !important; }

.pr-85 {
  padding-right: 85px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pl-85 {
  padding-left: 85px !important; }

.mt-86 {
  margin-top: 86px !important; }

.mr-86 {
  margin-right: 86px !important; }

.mb-86 {
  margin-bottom: 86px !important; }

.ml-86 {
  margin-left: 86px !important; }

.pt-86 {
  padding-top: 86px !important; }

.pr-86 {
  padding-right: 86px !important; }

.pb-86 {
  padding-bottom: 86px !important; }

.pl-86 {
  padding-left: 86px !important; }

.mt-87 {
  margin-top: 87px !important; }

.mr-87 {
  margin-right: 87px !important; }

.mb-87 {
  margin-bottom: 87px !important; }

.ml-87 {
  margin-left: 87px !important; }

.pt-87 {
  padding-top: 87px !important; }

.pr-87 {
  padding-right: 87px !important; }

.pb-87 {
  padding-bottom: 87px !important; }

.pl-87 {
  padding-left: 87px !important; }

.mt-88 {
  margin-top: 88px !important; }

.mr-88 {
  margin-right: 88px !important; }

.mb-88 {
  margin-bottom: 88px !important; }

.ml-88 {
  margin-left: 88px !important; }

.pt-88 {
  padding-top: 88px !important; }

.pr-88 {
  padding-right: 88px !important; }

.pb-88 {
  padding-bottom: 88px !important; }

.pl-88 {
  padding-left: 88px !important; }

.mt-89 {
  margin-top: 89px !important; }

.mr-89 {
  margin-right: 89px !important; }

.mb-89 {
  margin-bottom: 89px !important; }

.ml-89 {
  margin-left: 89px !important; }

.pt-89 {
  padding-top: 89px !important; }

.pr-89 {
  padding-right: 89px !important; }

.pb-89 {
  padding-bottom: 89px !important; }

.pl-89 {
  padding-left: 89px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mr-90 {
  margin-right: 90px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.ml-90 {
  margin-left: 90px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pr-90 {
  padding-right: 90px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pl-90 {
  padding-left: 90px !important; }

.mt-91 {
  margin-top: 91px !important; }

.mr-91 {
  margin-right: 91px !important; }

.mb-91 {
  margin-bottom: 91px !important; }

.ml-91 {
  margin-left: 91px !important; }

.pt-91 {
  padding-top: 91px !important; }

.pr-91 {
  padding-right: 91px !important; }

.pb-91 {
  padding-bottom: 91px !important; }

.pl-91 {
  padding-left: 91px !important; }

.mt-92 {
  margin-top: 92px !important; }

.mr-92 {
  margin-right: 92px !important; }

.mb-92 {
  margin-bottom: 92px !important; }

.ml-92 {
  margin-left: 92px !important; }

.pt-92 {
  padding-top: 92px !important; }

.pr-92 {
  padding-right: 92px !important; }

.pb-92 {
  padding-bottom: 92px !important; }

.pl-92 {
  padding-left: 92px !important; }

.mt-93 {
  margin-top: 93px !important; }

.mr-93 {
  margin-right: 93px !important; }

.mb-93 {
  margin-bottom: 93px !important; }

.ml-93 {
  margin-left: 93px !important; }

.pt-93 {
  padding-top: 93px !important; }

.pr-93 {
  padding-right: 93px !important; }

.pb-93 {
  padding-bottom: 93px !important; }

.pl-93 {
  padding-left: 93px !important; }

.mt-94 {
  margin-top: 94px !important; }

.mr-94 {
  margin-right: 94px !important; }

.mb-94 {
  margin-bottom: 94px !important; }

.ml-94 {
  margin-left: 94px !important; }

.pt-94 {
  padding-top: 94px !important; }

.pr-94 {
  padding-right: 94px !important; }

.pb-94 {
  padding-bottom: 94px !important; }

.pl-94 {
  padding-left: 94px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mr-95 {
  margin-right: 95px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.ml-95 {
  margin-left: 95px !important; }

.pt-95 {
  padding-top: 95px !important; }

.pr-95 {
  padding-right: 95px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pl-95 {
  padding-left: 95px !important; }

.mt-96 {
  margin-top: 96px !important; }

.mr-96 {
  margin-right: 96px !important; }

.mb-96 {
  margin-bottom: 96px !important; }

.ml-96 {
  margin-left: 96px !important; }

.pt-96 {
  padding-top: 96px !important; }

.pr-96 {
  padding-right: 96px !important; }

.pb-96 {
  padding-bottom: 96px !important; }

.pl-96 {
  padding-left: 96px !important; }

.mt-97 {
  margin-top: 97px !important; }

.mr-97 {
  margin-right: 97px !important; }

.mb-97 {
  margin-bottom: 97px !important; }

.ml-97 {
  margin-left: 97px !important; }

.pt-97 {
  padding-top: 97px !important; }

.pr-97 {
  padding-right: 97px !important; }

.pb-97 {
  padding-bottom: 97px !important; }

.pl-97 {
  padding-left: 97px !important; }

.mt-98 {
  margin-top: 98px !important; }

.mr-98 {
  margin-right: 98px !important; }

.mb-98 {
  margin-bottom: 98px !important; }

.ml-98 {
  margin-left: 98px !important; }

.pt-98 {
  padding-top: 98px !important; }

.pr-98 {
  padding-right: 98px !important; }

.pb-98 {
  padding-bottom: 98px !important; }

.pl-98 {
  padding-left: 98px !important; }

.mt-99 {
  margin-top: 99px !important; }

.mr-99 {
  margin-right: 99px !important; }

.mb-99 {
  margin-bottom: 99px !important; }

.ml-99 {
  margin-left: 99px !important; }

.pt-99 {
  padding-top: 99px !important; }

.pr-99 {
  padding-right: 99px !important; }

.pb-99 {
  padding-bottom: 99px !important; }

.pl-99 {
  padding-left: 99px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mr-100 {
  margin-right: 100px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-100 {
  padding-left: 100px !important; }

.underline-solid {
  border-bottom: 1px solid !important; }

.underline-dotted {
  border-bottom: 1px dotted !important; }

.w-0 {
  width: 0 !important; }

.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.w-fit {
  width: fit-content; }

.clr-primary, .clr-red {
  color: #d60000 !important; }

.clr-white {
  color: #fff !important; }

.clr-black {
  color: #000 !important; }

.clr-green {
  color: #3caa3c !important; }

.clr-blue {
  color: #358eda !important; }

.clr-orange {
  color: #fa660f !important; }

.clr-dark-grey {
  color: #666666 !important; }

.clr-grey {
  color: #999999 !important; }

.clr-light-grey {
  color: #cccccc !important; }

.bc-primary, .bc-red {
  background-color: #d60000 !important; }

.bc-white {
  background-color: #fff !important; }

.bc-black {
  background-color: #000 !important; }

.bc-green {
  background-color: #3caa3c !important; }

.bc-blue {
  background-color: #358eda !important; }

.bc-orange {
  background-color: #fa660f !important; }

.bc-dark-grey {
  background-color: #666666 !important; }

.bc-grey {
  background-color: #999999 !important; }

.bc-light-grey {
  background-color: #cccccc !important; }

.fill-primary, .fill-red {
  fill: #d60000 !important; }

.fill-white {
  fill: #fff !important; }

.fill-black {
  fill: #000 !important; }

.fill-green {
  fill: #3caa3c !important; }

.fill-blue {
  fill: #358eda !important; }

.fill-orange {
  fill: #fa660f !important; }

.fill-dark-grey {
  fill: #666666 !important; }

.fill-grey {
  fill: #999999 !important; }

.fill-light-grey {
  fill: #cccccc !important; }

.cursor-default {
  cursor: default !important; }

.cursor-pointer {
  cursor: pointer !important; }

.op-0 {
  opacity: 0 !important; }

.op-5 {
  opacity: 0.05 !important; }

.op-10 {
  opacity: 0.1 !important; }

.op-15 {
  opacity: 0.15 !important; }

.op-20 {
  opacity: 0.2 !important; }

.op-25 {
  opacity: 0.25 !important; }

.op-30 {
  opacity: 0.3 !important; }

.op-35 {
  opacity: 0.35 !important; }

.op-40 {
  opacity: 0.4 !important; }

.op-45 {
  opacity: 0.45 !important; }

.op-50 {
  opacity: 0.5 !important; }

.op-55 {
  opacity: 0.55 !important; }

.op-60 {
  opacity: 0.6 !important; }

.op-65 {
  opacity: 0.65 !important; }

.op-70 {
  opacity: 0.7 !important; }

.op-75 {
  opacity: 0.75 !important; }

.op-80 {
  opacity: 0.8 !important; }

.op-85 {
  opacity: 0.85 !important; }

.op-90 {
  opacity: 0.9 !important; }

.op-95 {
  opacity: 0.95 !important; }

.op-100 {
  opacity: 1 !important; }

.fs-6 {
  font-size: 6px !important; }

.fs-7 {
  font-size: 7px !important; }

.fs-8 {
  font-size: 8px !important; }

.fs-9 {
  font-size: 9px !important; }

.fs-10 {
  font-size: 10px !important; }

.fs-11 {
  font-size: 11px !important; }

.fs-12 {
  font-size: 12px !important; }

.fs-13 {
  font-size: 13px !important; }

.fs-14 {
  font-size: 14px !important; }

.fs-15 {
  font-size: 15px !important; }

.fs-16 {
  font-size: 16px !important; }

.fs-17 {
  font-size: 17px !important; }

.fs-18 {
  font-size: 18px !important; }

.fs-19 {
  font-size: 19px !important; }

.fs-20 {
  font-size: 20px !important; }

.fs-21 {
  font-size: 21px !important; }

.fs-22 {
  font-size: 22px !important; }

.fs-23 {
  font-size: 23px !important; }

.fs-24 {
  font-size: 24px !important; }

.fs-25 {
  font-size: 25px !important; }

.fs-26 {
  font-size: 26px !important; }

.fs-27 {
  font-size: 27px !important; }

.fs-28 {
  font-size: 28px !important; }

.fs-29 {
  font-size: 29px !important; }

.fs-30 {
  font-size: 30px !important; }

.ls--10 {
  letter-spacing: -1px !important; }

.ls--9 {
  letter-spacing: -0.9px !important; }

.ls--8 {
  letter-spacing: -0.8px !important; }

.ls--7 {
  letter-spacing: -0.7px !important; }

.ls--6 {
  letter-spacing: -0.6px !important; }

.ls--5 {
  letter-spacing: -0.5px !important; }

.ls--4 {
  letter-spacing: -0.4px !important; }

.ls--3 {
  letter-spacing: -0.3px !important; }

.ls--2 {
  letter-spacing: -0.2px !important; }

.ls--1 {
  letter-spacing: -0.1px !important; }

.ls-0 {
  letter-spacing: 0px !important; }

.ls-1 {
  letter-spacing: 0.1px !important; }

.ls-2 {
  letter-spacing: 0.2px !important; }

.ls-3 {
  letter-spacing: 0.3px !important; }

.ls-4 {
  letter-spacing: 0.4px !important; }

.ls-5 {
  letter-spacing: 0.5px !important; }

.ls-6 {
  letter-spacing: 0.6px !important; }

.ls-7 {
  letter-spacing: 0.7px !important; }

.ls-8 {
  letter-spacing: 0.8px !important; }

.ls-9 {
  letter-spacing: 0.9px !important; }

.ls-10 {
  letter-spacing: 1px !important; }

.text-style.-uppercase {
  text-transform: uppercase; }

.text-style.-lowercase {
  text-transform: lowercase; }

.text-style.-normal {
  font-style: normal;
  font-weight: normal; }

.text-style.-bold {
  font-style: normal;
  font-weight: bold; }

.text-style.-italic {
  font-style: italic;
  font-weight: normal; }

.text-style.-bold-italic {
  font-style: italic;
  font-weight: bold; }

.text-style.-dotted {
  text-decoration: none;
  border-bottom: 1px dotted; }

.text-style.-no-underline {
  border-bottom: none;
  text-decoration: none; }

.v-hidden {
  visibility: hidden; }

.v-visible {
  visibility: visible; }

.icon-arrow, .icon-plus, .icon-minus, .icon-basket, .icon-cross, .icon-date, .icon-mail, .icon-mail-subscribe, .icon-download, .icon-checkbox, .icon-pila, .icon-vk, .icon-fb, .icon-ok, .icon-tw, .icon-yt, .icon-tm, .icon-wa, .icon-vb {
  position: relative;
  display: block;
  background: url("/res/img/sprite.png") no-repeat top 99999999px left 99999999px; }

.icon::before, .icon::after {
  transition: all .3s; }

.icon-arrow {
  /* direction */
  /* size */
  /* color */ }
  .icon-arrow::before, .icon-arrow::after {
    content: "";
    position: absolute; }
  .icon-arrow.-min {
    width: 8px;
    height: 12px; }
    .icon-arrow.-min.-top, .icon-arrow.-min.-bottom {
      width: 12px;
      height: 8px; }
      .icon-arrow.-min.-top::before, .icon-arrow.-min.-top::after, .icon-arrow.-min.-bottom::before, .icon-arrow.-min.-bottom::after {
        top: 2px; }
    .icon-arrow.-min.-top::before {
      left: -1px;
      border-radius: 40% 1px 0 40%; }
    .icon-arrow.-min.-top::after {
      right: -1px;
      border-radius: 1px 40% 40% 0; }
    .icon-arrow.-min.-bottom::before {
      right: -1px;
      border-radius: 0 40% 40% 1px; }
    .icon-arrow.-min.-bottom::after {
      left: -1px;
      border-radius: 40% 0 1px 40%; }
    .icon-arrow.-min.-right::before, .icon-arrow.-min.-right::after, .icon-arrow.-min.-left::before, .icon-arrow.-min.-left::after {
      left: 0; }
    .icon-arrow.-min.-right::before {
      bottom: 2px;
      border-radius: 40% 0 1px 40%; }
    .icon-arrow.-min.-right::after {
      top: 2px;
      border-radius: 40% 1px 0 40%; }
    .icon-arrow.-min.-left::before {
      top: 2px;
      border-radius: 0 40% 40% 1px; }
    .icon-arrow.-min.-left::after {
      bottom: 2px;
      border-radius: 1px 40% 40% 0; }
    .icon-arrow.-min::before, .icon-arrow.-min::after {
      width: 9px;
      height: 3px; }
    .icon-arrow.-min::before {
      transform: rotate(-45deg); }
    .icon-arrow.-min::after {
      transform: rotate(45deg); }
  .icon-arrow.-average {
    width: 16px;
    height: 32px; }
    .icon-arrow.-average.-top, .icon-arrow.-average.-bottom {
      width: 32px;
      height: 16px; }
      .icon-arrow.-average.-top::before, .icon-arrow.-average.-bottom::before {
        top: 7px;
        transform: rotate(-42deg); }
      .icon-arrow.-average.-top::after, .icon-arrow.-average.-bottom::after {
        top: 7px;
        transform: rotate(42deg); }
    .icon-arrow.-average.-top::before {
      left: -3px;
      border-radius: 25% 1px 0 25%; }
    .icon-arrow.-average.-top::after {
      right: -3px;
      border-radius: 1px 25% 25% 0; }
    .icon-arrow.-average.-bottom::before {
      right: -3px;
      border-radius: 0 25% 25% 1px; }
    .icon-arrow.-average.-bottom::after {
      left: -3px;
      border-radius: 25% 0 1px 25%; }
    .icon-arrow.-average.-right::before, .icon-arrow.-average.-left::before {
      left: -3px;
      transform: rotate(-48deg); }
    .icon-arrow.-average.-right::after, .icon-arrow.-average.-left::after {
      left: -3px;
      transform: rotate(48deg); }
    .icon-arrow.-average.-right::before {
      bottom: 7px;
      border-radius: 25% 0 1px 25%; }
    .icon-arrow.-average.-right::after {
      top: 7px;
      border-radius: 25% 1px 0 25%; }
    .icon-arrow.-average.-left::before {
      top: 7px;
      border-radius: 1px 25% 25% 0; }
    .icon-arrow.-average.-left::after {
      bottom: 7px;
      border-radius: 0 25% 25% 1px; }
    .icon-arrow.-average::before, .icon-arrow.-average::after {
      width: 23px;
      height: 3px; }
  .icon-arrow.-big {
    width: 20px;
    height: 44px; }
    .icon-arrow.-big.-top, .icon-arrow.-big.-bottom {
      width: 44px;
      height: 20px; }
      .icon-arrow.-big.-top::before, .icon-arrow.-big.-bottom::before {
        top: 8px;
        transform: rotate(-39deg); }
      .icon-arrow.-big.-top::after, .icon-arrow.-big.-bottom::after {
        top: 8px;
        transform: rotate(39deg); }
    .icon-arrow.-big.-top::before {
      left: -3px;
      border-radius: 25% 2px 0 25%; }
    .icon-arrow.-big.-top::after {
      right: -3px;
      border-radius: 2px 25% 25% 0; }
    .icon-arrow.-big.-bottom::before {
      right: -3px;
      border-radius: 0 25% 25% 2px; }
    .icon-arrow.-big.-bottom::after {
      left: -3px;
      border-radius: 25% 0 2px 25%; }
    .icon-arrow.-big.-right::before, .icon-arrow.-big.-left::before {
      left: -5px;
      transform: rotate(-51deg); }
    .icon-arrow.-big.-right::after, .icon-arrow.-big.-left::after {
      left: -5px;
      transform: rotate(51deg); }
    .icon-arrow.-big.-right::before {
      bottom: 10px;
      border-radius: 25% 0 2px 25%; }
    .icon-arrow.-big.-right::after {
      top: 10px;
      border-radius: 25% 2px 0 25%; }
    .icon-arrow.-big.-left::before {
      top: 10px;
      border-radius: 2px 25% 25% 0; }
    .icon-arrow.-big.-left::after {
      bottom: 10px;
      border-radius: 0 25% 25% 2px; }
    .icon-arrow.-big::before, .icon-arrow.-big::after {
      width: 30px;
      height: 4px; }
  .icon-arrow.-white::before, .icon-arrow.-white::after {
    background-color: #fff; }
  .icon-arrow.-grey::before, .icon-arrow.-grey::after {
    background-color: #999; }
  .icon-arrow.-lightgrey::before, .icon-arrow.-lightgrey::after {
    background-color: #ccc; }
  .icon-arrow.-red::before, .icon-arrow.-red::after, .icon-arrow.-grey:not(.-h-lock):hover::before, .icon-arrow.-grey:not(.-h-lock):hover::after, .nav-icon:hover > .icon-arrow.-grey:not(.-h-lock)::before, .nav-icon:hover > .icon-arrow.-grey:not(.-h-lock)::after {
    background-color: #d60000; }

.icon-plus {
  /* size */
  /* color */ }
  .icon-plus::before, .icon-plus::after {
    content: "";
    position: absolute; }
  .icon-plus.-min {
    width: 12px;
    height: 12px; }
    .icon-plus.-min::before {
      left: 5px;
      width: 2px;
      height: 12px; }
    .icon-plus.-min::after {
      top: 5px;
      width: 12px;
      height: 2px; }
  .icon-plus.-grey::before, .icon-plus.-grey::after {
    background-color: #999; }
  .icon-plus.-red::before, .icon-plus.-red::after, .icon-plus.-grey:not(.-h-lock):hover::before, .icon-plus.-grey:not(.-h-lock):hover::after, .nav-icon:hover > .icon-plus.-grey:not(.-h-lock)::before, .nav-icon:hover > .icon-plus.-grey:not(.-h-lock)::after {
    background-color: #d60000; }

.icon-minus {
  /* size */
  /* color */ }
  .icon-minus::before, .icon-minus::after {
    content: "";
    position: absolute; }
  .icon-minus.-min {
    width: 12px;
    height: 12px; }
    .icon-minus.-min::before {
      top: 5px;
      width: 12px;
      height: 2px; }
  .icon-minus.-grey::before, .icon-minus.-grey::after {
    background-color: #999; }
  .icon-minus.-red::before, .icon-minus.-red::after, .icon-minus.-grey:not(.-h-lock):hover::before, .icon-minus.-grey:not(.-h-lock):hover::after, .nav-icon:hover > .icon-minus.-grey:not(.-h-lock)::before, .nav-icon:hover > .icon-minus.-grey:not(.-h-lock)::after {
    background-color: #d60000; }

.icon-basket.-mini {
  background-position: 0 -21px;
  width: 15px;
  height: 14px; }

.icon-basket.-small {
  background-position: 0 -1px;
  width: 20px;
  height: 19px; }

.icon-cross.-small {
  width: 12px;
  height: 12px; }
  .icon-cross.-small.-white {
    background-position: -20px 0; }
  .icon-cross.-small.-grey {
    background-position: -20px -24px; }
  .icon-cross.-small.-red, .icon-cross.-small:not(.-h-lock):hover {
    background-position: -20px -12px; }

.icon-date.-small {
  width: 16px;
  height: 16px; }
  .icon-date.-small.-grey {
    background-position: -32px -32px; }
  .icon-date.-small.-white {
    background-position: -32px 0; }
  .icon-date.-small.-red, .icon-date.-small:not(.-h-lock):hover {
    background-position: -32px -16px; }

.icon-mail.-small {
  width: 16px;
  height: 12px; }
  .icon-mail.-small.-white {
    background-position: -48px 0px; }

.icon-mail-subscribe {
  width: 20px;
  height: 13px;
  background-position: 0px -35px; }

.icon-download {
  width: 15px;
  height: 16px; }
  .icon-download.-small.-grey {
    background-position: -64px -16px; }
  .icon-download.-small.-red, .icon-download.-small:not(.-h-lock):hover {
    background-position: -64px 0; }

.icon-checkbox.-mini {
  width: 16px;
  height: 13px;
  background-position: -79px -18px; }

.icon-checkbox.-small {
  width: 21px;
  height: 17px;
  background-position: -79px -1px; }

.icon-pila.-small {
  width: 20px;
  height: 20px; }
  .icon-pila.-small.-red {
    background-position: -100px 0px; }

.icon-vk.-mini {
  width: 20px;
  height: 11px; }
  .icon-vk.-mini.-white {
    background-position: -140px 0; }
  .icon-vk.-mini.-grey {
    background-position: -120px 0; }

.icon-vk.-small {
  width: 25px;
  height: 14px; }
  .icon-vk.-small.-white {
    background-position: -160px 0px; }

.icon-fb.-mini {
  width: 8px;
  height: 17px; }
  .icon-fb.-mini.-white {
    background-position: -150px -11px; }
  .icon-fb.-mini.-grey {
    background-position: -130px -11px; }

.icon-ok.-mini {
  width: 10px;
  height: 17px; }
  .icon-ok.-mini.-white {
    background-position: -140px -11px; }
  .icon-ok.-mini.-grey {
    background-position: -120px -11px; }

.icon-ok.-small {
  width: 14px;
  height: 24px; }
  .icon-ok.-small.-white {
    background-position: -160px -14px; }

.icon-tw.-mini {
  width: 18px;
  height: 15px; }
  .icon-tw.-mini.-white {
    background-position: -140px -28px; }
  .icon-tw.-mini.-grey {
    background-position: -120px -28px; }

.icon-yt.-mini {
  width: 20px;
  height: 15px; }
  .icon-yt.-mini.-white {
    background-position: -140px -43px; }

.icon-tm.-small {
  width: 19px;
  height: 20px; }
  .icon-tm.-small.-white {
    background-position: -160px -38px; }

.icon-wa.-small {
  width: 24px;
  height: 24px; }
  .icon-wa.-small.-white {
    background-position: -160px -58px; }

.icon-vb.-small {
  width: 24px;
  height: 25px; }
  .icon-vb.-small.-white {
    background-position: -160px -82px; }

.checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 4px 0 24px;
  width: fit-content;
  line-height: 16px;
  user-select: none; }
  .checkbox-wrapper .after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    width: 16px;
    height: 16px;
    box-sizing: border-box; }
    .checkbox-wrapper .after::before {
      content: "";
      position: absolute;
      display: none; }
  .checkbox-wrapper input {
    display: none; }
    .checkbox-wrapper input[type="checkbox"] + .after {
      border-radius: 2px; }
      .checkbox-wrapper input[type="checkbox"] + .after::before {
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        background: no-repeat 50% / 8px; }
    .checkbox-wrapper input[type="checkbox"].-hover + .after, .checkbox-wrapper input[type="checkbox"]:hover + .after {
      background-color: #e9e9e9; }
      .checkbox-wrapper input[type="checkbox"].-hover + .after::before, .checkbox-wrapper input[type="checkbox"]:hover + .after::before {
        display: block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAR0lEQVR42mPAA2Yyz1w88zmCyzhzwcz/M9cxzFw/MxXMnQ7kbprJxjDzIpCRBecC5URnXp/5Hwj3zeSC6ZaZeWvmHigXEwAADcAjvIES4xUAAAAASUVORK5CYII=); }
    .checkbox-wrapper input[type="checkbox"]:checked + .after {
      background-color: #fff; }
      .checkbox-wrapper input[type="checkbox"]:checked + .after::before {
        display: block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAATklEQVR4AWMgC1xjYGAG4sVA/BybJCMQLwDi/0C8DiSwHohTkSSnQyU3ATEbSPAiVCALQxKqSxSIr4MkoHgfEHOh2ysDxLeAeA9YkhQAAD9VKx/ZtrknAAAAAElFTkSuQmCC); }
    .checkbox-wrapper input[type="radio"] + .after {
      border-radius: 50%; }
      .checkbox-wrapper input[type="radio"] + .after::before {
        top: 4px;
        left: 4px;
        border-radius: 50%;
        width: 6px;
        height: 6px; }
    .checkbox-wrapper input[type="radio"].-hover + .after, .checkbox-wrapper input[type="radio"]:hover + .after {
      background-color: #e9e9e9; }
      .checkbox-wrapper input[type="radio"].-hover + .after::before, .checkbox-wrapper input[type="radio"]:hover + .after::before {
        display: block;
        background-color: #999; }
    .checkbox-wrapper input[type="radio"]:checked + .after {
      background-color: #fff; }
      .checkbox-wrapper input[type="radio"]:checked + .after::before {
        display: block;
        background-color: #d60000; }

.input {
  font-family: Arial, Helvetica; }
  .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    transition: all .3s; }
    .input-wrapper .icon {
      position: absolute;
      top: 4px;
      cursor: pointer; }
    .input-wrapper.-icon-left .icon {
      left: 8px; }
      .input-wrapper.-icon-left .icon + .input-field {
        padding-left: 24px; }
    .input-wrapper.-icon-right .icon {
      right: 8px; }
      .input-wrapper.-icon-right .icon + .input-field {
        padding-right: 24px; }
    .input-wrapper.-counter {
      flex-direction: row; }
      .input-wrapper.-counter .field {
        border-radius: 2px;
        border-color: #ccc;
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 24px;
        line-height: 24px;
        box-sizing: border-box;
        color: #000;
        text-align: center;
        -moz-appearance: textfield; }
        .input-wrapper.-counter .field::-webkit-outer-spin-button, .input-wrapper.-counter .field::-webkit-inner-spin-button {
          -webkit-appearance: none; }
      .input-wrapper.-counter .button {
        position: relative;
        display: block;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
        border: 1px solid #ccc !important;
        border-radius: 2px;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        cursor: pointer; }
        .input-wrapper.-counter .button::before {
          content: "";
          position: absolute;
          display: block;
          top: 6px;
          left: 3px;
          width: 8px;
          height: 2px;
          background-color: #999; }
        .input-wrapper.-counter .button.-minus {
          margin: 4px 4px 4px 0; }
        .input-wrapper.-counter .button.-plus {
          margin: 4px 0 4px 4px; }
          .input-wrapper.-counter .button.-plus::after {
            content: "";
            position: absolute;
            display: block;
            top: 3px;
            left: 6px;
            width: 2px;
            height: 8px;
            background-color: #999; }
        .input-wrapper.-counter .button:hover::before, .input-wrapper.-counter .button:hover::after, .input-wrapper.-counter .button.-hover::before, .input-wrapper.-counter .button.-hover::after {
          background-color: #d60000; }
    .input-wrapper .datepicker {
      position: absolute;
      display: none;
      top: 22px;
      left: -3px; }
  .input-field, .input-textarea {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 2px;
    padding: 0 7px;
    width: 240px;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    background-color: #fff;
    color: #999;
    font-size: 13px;
    letter-spacing: -.1px; }
    .input-field:focus, .input-field.-focus, .input-field:not(:invalid), .input-textarea:focus, .input-textarea.-focus, .input-textarea:not(:invalid) {
      outline: none !important;
      border-color: 1px solid rgba(0, 0, 0, 0.5) !important;
      color: #000; }
    .input-field.-error, .input-textarea.-error {
      border-color: #d60000 !important; }
      .input-field.-error + .input-helper, .input-textarea.-error + .input-helper {
        color: #d60000; }
    .input-field.-date, .input-textarea.-date {
      width: 104px; }
      .input-field.-date.-focus:not(.-f-lock) + .datepicker, .input-textarea.-date.-focus:not(.-f-lock) + .datepicker {
        display: block; }
  .input-textarea {
    padding: 3px 7px;
    height: 88px;
    line-height: 16px;
    resize: none; }
  .input-helper {
    padding: 2px 0;
    width: 100%;
    color: #999;
    font-size: 11px;
    font-style: italic; }

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none !important;
  /* size */
  /* color */
  /* type */ }
  .nav-icon.-small {
    width: 24px;
    height: 24px; }
  .nav-icon.-grey {
    background-color: #999; }
  .nav-icon.-red, .nav-icon.-grey:hover {
    background-color: #d60000; }
  .nav-icon.-green {
    background-color: #3caa3c; }
  .nav-icon.-border {
    border-style: solid !important;
    border-width: 2px !important;
    width: 20px;
    height: 20px;
    background-color: transparent; }
    .nav-icon.-border.-grey {
      border-color: #999 !important; }
    .nav-icon.-border.-red, .nav-icon.-border.-grey:hover {
      border-color: #d60000 !important; }
  .nav-icon.-round {
    border-radius: 50%; }
  .nav-icon.-transparent {
    background-color: transparent !important; }
  .nav-icon.-helper {
    position: relative;
    width: 12px;
    height: 12px;
    color: #fff;
    cursor: pointer;
    background: #999;
    font-size: 10.9px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    border-radius: 50%; }

.nav-padination {
  display: flex;
  width: fit-content; }
  .nav-padination > .content {
    display: flex;
    padding-right: 8px;
    width: fit-content; }
    .nav-padination > .content .number {
      display: inline-block;
      border: none !important;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      line-height: 25px;
      color: #000 !important;
      cursor: pointer;
      text-align: center;
      font-weight: bold; }
      .nav-padination > .content .number.-active {
        background-color: #d60000 !important;
        color: #fff !important; }
    .nav-padination > .content .space {
      display: flex;
      margin-top: 5px;
      width: 8px;
      height: 13px;
      letter-spacing: -0.4px;
      text-align: center; }

.button-new-red, .button-new-grey, .button-new-flat {
  display: flex;
  align-items: center;
  border: none !important;
  border-radius: 6px;
  padding: 6px 16px 8px 15px;
  height: 32px;
  line-height: 14.1px;
  width: fit-content;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18.1px;
  letter-spacing: -.4px;
  font-family: "Futura Medium";
  text-decoration: none; }

.button-new-red {
  background-color: #d60000;
  background-image: linear-gradient(to top, #c80101, #ef4141);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
  .button-new-red.-xlg {
    padding: 6px 23px 11px 23px;
    height: 44px;
    line-height: 18.2px;
    font-size: 24.7px;
    letter-spacing: -0.4px; }
  .button-new-red.-lg {
    padding: 6px 19px 8px 20px;
    height: 36px;
    line-height: 14.1px;
    font-size: 20px;
    letter-spacing: -0.1px; }
  .button-new-red.-sm {
    padding: 4px 15px 6px 15px;
    height: 28px;
    line-height: 15px;
    font-size: 15px;
    letter-spacing: 0.4px; }
  .button-new-red:hover, .button-new-red.-hover {
    box-shadow: inset 0 3px 2px 0 rgba(0, 0, 0, 0.2);
    background-image: none; }
  .button-new-red:focus {
    outline: 0; }
  .button-new-red.-disabled {
    border: 2px solid #ccc !important;
    background-color: transparent !important;
    background-image: none !important;
    color: #ccc !important;
    cursor: default !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  .button-new-red.-inline {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    justify-content: center; }

.button-new-grey {
  background-color: #e0e0e0;
  background-image: linear-gradient(to top, #e2e0e0, #fdfdfd);
  color: #737171;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2) !important; }
  .button-new-grey.-xlg {
    padding: 6px 23px 11px 23px;
    height: 44px;
    line-height: 18.2px;
    font-size: 24.7px;
    letter-spacing: -0.4px; }
  .button-new-grey.-lg {
    padding: 6px 19px 8px 20px;
    height: 36px;
    line-height: 14.1px;
    font-size: 20px;
    letter-spacing: -0.1px; }
  .button-new-grey.-sm {
    padding: 4px 15px 6px 15px;
    height: 28px;
    line-height: 15px;
    font-size: 15px;
    letter-spacing: 0.4px; }
  .button-new-grey:hover, .button-new-grey.-hover {
    box-shadow: inset 0 3px 2px 0 rgba(0, 0, 0, 0.2);
    background-image: none; }
  .button-new-grey:focus {
    outline: 0; }
  .button-new-grey.-disabled {
    border: 2px solid #ccc !important;
    background-color: transparent !important;
    background-image: none !important;
    color: #ccc !important;
    cursor: default !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  .button-new-grey.-inline {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    justify-content: center; }

.button-new-flat.-red {
  border: 2px solid #d60000 !important;
  background-color: transparent;
  color: #d60000; }

.button-new-flat:hover, .button-new-flat.-hover {
  background-color: #fdf3f3; }

.button-new-flat.-xlg {
  padding: 6px 22px 10px 21px;
  height: 44px;
  line-height: 18.2px;
  font-size: 24.7px;
  letter-spacing: -0.3px; }

.button-new-flat.-lg {
  padding: 6px 16px 8px 18px;
  height: 36px;
  line-height: 18.2px;
  font-size: 20px;
  letter-spacing: 0.2px; }

.button-new-flat.-sm {
  padding: 4px 13px 6px 13px;
  height: 28px;
  line-height: 15px;
  font-size: 15px;
  letter-spacing: 0.4px; }

.button-new-flat.-inline {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center; }

.button-new-flat.-disabled {
  border: 2px solid #ccc !important;
  background-color: transparent !important;
  background-image: none !important;
  color: #ccc !important;
  cursor: default !important;
  box-shadow: none !important;
  text-shadow: none !important; }

.button-new-image {
  position: relative;
  display: -webkit-box;
  align-items: center;
  vertical-align: middle;
  padding-left: 52px;
  height: 32px;
  color: #000;
  cursor: pointer;
  font-family: Arial, Helvetica; }
  .button-new-image > i {
    position: absolute;
    top: 0;
    left: 0; }
  .button-new-image > .content {
    border-bottom: 1px dotted;
    width: auto;
    line-height: 16px;
    letter-spacing: .2px; }
  .button-new-image::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 6px;
    width: 40px;
    height: 32px;
    background-color: #d60000;
    background-image: linear-gradient(to top, #c80101, #ef4141); }
  .button-new-image:hover, .button-new-image.-hover {
    color: #d60000; }
    .button-new-image:hover::before, .button-new-image.-hover::before {
      box-shadow: inset 0 3px 2px 0 rgba(0, 0, 0, 0.2);
      background-image: none; }

.popup-window {
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  min-width: 120px;
  max-width: 320px;
  background-color: #fff; }
  .popup-window > .icon-cross {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1; }
  .popup-window .head {
    position: relative;
    padding: 12px 20px 11px 19px;
    box-sizing: border-box;
    background-color: #e9e9e9;
    color: #000;
    font-size: 18px;
    font-weight: bold; }
  .popup-window .content {
    padding: 16px 22px 16px 20px;
    box-sizing: border-box;
    color: #000;
    font-size: 13px;
    line-height: 16px; }
    .popup-window .content.-icon {
      padding-left: 56px; }
    .popup-window .content .nav-icon {
      position: absolute;
      top: 12px;
      left: 20px; }

.helper-window {
  position: absolute;
  display: none;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
  border-radius: 6px;
  padding: 16px 25px 16px 20px;
  width: max-content;
  max-width: 320px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px; }
  .helper-window::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0; }
  .helper-window-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1000; }
    .helper-window-wrapper.-top {
      flex-direction: column; }
      .helper-window-wrapper.-top .helper-window {
        bottom: 28px; }
        .helper-window-wrapper.-top .helper-window::before {
          bottom: -12px;
          left: calc(50% - 12px);
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 12px solid #fff; }
    .helper-window-wrapper.-right .helper-window {
      left: 28px; }
      .helper-window-wrapper.-right .helper-window::before {
        top: calc(50% - 12px);
        left: -12px;
        border-top: 12px solid transparent;
        border-right: 12px solid #fff;
        border-bottom: 12px solid transparent; }
    .helper-window-wrapper.-bottom {
      flex-direction: column; }
      .helper-window-wrapper.-bottom .helper-window {
        top: 28px; }
        .helper-window-wrapper.-bottom .helper-window::before {
          top: -12px;
          left: calc(50% - 12px);
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #fff; }
    .helper-window-wrapper.-left .helper-window {
      right: 28px; }
      .helper-window-wrapper.-left .helper-window::before {
        top: calc(50% - 12px);
        right: -12px;
        border-top: 12px solid transparent;
        border-left: 12px solid #fff;
        border-bottom: 12px solid transparent; }
    .helper-window-wrapper:hover .helper-window {
      display: block; }

.select-wrapper {
  position: relative;
  width: 240px;
  cursor: pointer; }
  .select-wrapper .choice {
    position: relative;
    display: block;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 0 20px 0 6px;
    width: 100%;
    height: 24px;
    line-height: 22px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    letter-spacing: .1px;
    z-index: 1; }
    .select-wrapper .choice::before {
      content: "\25BC";
      position: absolute;
      top: 1px;
      right: 6px;
      color: #000;
      font-size: 9px; }
  .select-wrapper .droplist {
    position: absolute;
    display: none;
    flex-direction: column;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    top: 24px;
    left: 0;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background-color: #fff; }
    .select-wrapper .droplist .item {
      margin: 0;
      padding: 4px 8px;
      width: 100%;
      line-height: 16px;
      box-sizing: border-box;
      color: #000;
      list-style: none; }
      .select-wrapper .droplist .item:hover:not(.-h-lock), .select-wrapper .droplist .item.-hover {
        background-color: #e9e9e9; }
  .select-wrapper [type="checkbox"] {
    display: none; }
    .select-wrapper [type="checkbox"]:checked + .choice {
      border-color: #7f7f7f; }
      .select-wrapper [type="checkbox"]:checked + .choice::before {
        transform: rotate(180deg); }
      .select-wrapper [type="checkbox"]:checked + .choice + .droplist {
        display: flex; }

.social-vk, .social-ok, .social-fb, .social-tw, .social-yt, .social-tm, .social-wa, .social-vb, .social-grey {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none !important;
  width: 28px;
  height: 28px;
  line-height: 28px;
  box-sizing: border-box;
  cursor: pointer; }

.social-vk {
  background-color: #4a76a8;
  border-color: #4a76a8; }
  .social-vk.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-vk.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-vk.-round {
    border-radius: 50%; }

.social-ok {
  background-color: #ee8208;
  border-color: #ee8208; }
  .social-ok.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-ok.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-ok.-round {
    border-radius: 50%; }

.social-fb {
  background-color: #4267b2;
  border-color: #4267b2; }
  .social-fb.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-fb.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-fb.-round {
    border-radius: 50%; }

.social-tw {
  background-color: #1da1f2;
  border-color: #1da1f2; }
  .social-tw.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-tw.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-tw.-round {
    border-radius: 50%; }

.social-yt {
  background-color: #f00;
  border-color: #f00; }
  .social-yt.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-yt.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-yt.-round {
    border-radius: 50%; }

.social-tm {
  background-color: #27a5e7;
  border-color: #27a5e7; }
  .social-tm.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-tm.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-tm.-round {
    border-radius: 50%; }

.social-wa {
  background-color: #0dc143;
  border-color: #0dc143; }
  .social-wa.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-wa.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-wa.-round {
    border-radius: 50%; }

.social-vb {
  background-color: #7d519e;
  border-color: #7d519e; }
  .social-vb.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-vb.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-vb.-round {
    border-radius: 50%; }

.social-grey {
  background-color: transparent;
  border-color: #ccc !important; }
  .social-grey.-lg {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .social-grey.-border {
    border-width: 1px !important;
    border-style: solid !important; }
  .social-grey.-round {
    border-radius: 50%; }

.nameplate-green, .nameplate-orange, .nameplate-blue, .nameplate-red {
  display: inline-block;
  border-radius: 4px;
  padding: 0 12px;
  width: fit-content;
  height: 24px;
  line-height: 24px;
  color: #fff;
  font-family: "Arial";
  font-size: 11px; }

.nameplate-green {
  background-color: #3caa3c; }
  .nameplate-green.-xlg {
    padding: 0 14px;
    font-size: 14px;
    height: 24px;
    line-height: 24px; }
  .nameplate-green.-lg {
    padding: 0 11px;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    line-height: 24px; }
  .nameplate-green.-sm {
    padding: 0 9px 0 7px;
    height: 16px;
    line-height: 16px; }
  .nameplate-green.-xsm {
    padding: 0 6px;
    height: 16px;
    line-height: 16px;
    font-size: 11px; }

.nameplate-orange {
  background-color: #fa660f; }
  .nameplate-orange.-xlg {
    padding: 0 14px;
    font-size: 14px;
    height: 24px;
    line-height: 24px; }
  .nameplate-orange.-lg {
    padding: 0 11px;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    line-height: 24px; }
  .nameplate-orange.-sm {
    padding: 0 9px 0 7px;
    height: 16px;
    line-height: 16px; }
  .nameplate-orange.-xsm {
    padding: 0 6px;
    height: 16px;
    line-height: 16px;
    font-size: 11px; }

.nameplate-blue {
  background-color: #358eda; }
  .nameplate-blue.-xlg {
    padding: 0 14px;
    font-size: 14px;
    height: 24px;
    line-height: 24px; }
  .nameplate-blue.-lg {
    padding: 0 11px;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    line-height: 24px; }
  .nameplate-blue.-sm {
    padding: 0 9px 0 7px;
    height: 16px;
    line-height: 16px; }
  .nameplate-blue.-xsm {
    padding: 0 6px;
    height: 16px;
    line-height: 16px;
    font-size: 11px; }

.nameplate-red {
  background-color: #d60000; }
  .nameplate-red.-xlg {
    padding: 0 14px;
    font-size: 14px;
    height: 24px;
    line-height: 24px; }
  .nameplate-red.-lg {
    padding: 0 11px;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    line-height: 24px; }
  .nameplate-red.-sm {
    padding: 0 9px 0 7px;
    height: 16px;
    line-height: 16px; }
  .nameplate-red.-xsm {
    padding: 0 6px;
    height: 16px;
    line-height: 16px;
    font-size: 11px; }

.table-wrapper {
  border-spacing: 0;
  border-collapse: collapse; }
  .table-wrapper > thead.-bg {
    background-color: #e9e9e9;
    border: none; }
  .table-wrapper > thead > tr {
    border: none; }
    .table-wrapper > thead > tr > th {
      padding: 12px 0;
      color: #000;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      vertical-align: top; }
      .table-wrapper > thead > tr > th:last-child {
        padding-right: 12px; }
      .table-wrapper > thead > tr > th.-align-center {
        text-align: center; }
  .table-wrapper tr {
    border-bottom: 1px solid #ccc; }
    .table-wrapper tr td {
      vertical-align: top;
      padding: 16px 0 15px 0;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -.3px; }
      .table-wrapper tr td:last-child {
        padding-right: 12px; }
      .table-wrapper tr td.-align-center {
        text-align: center; }
      .table-wrapper tr td.-align-left {
        text-align: left; }
      .table-wrapper tr td.-align-right {
        text-align: right; }
      .table-wrapper tr td small {
        color: #666; }
  .table-wrapper.-collapse tr.-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .table-wrapper.-collapse tr > th {
    padding-bottom: 11px; }
  .table-wrapper.-collapse tr > td {
    padding: 16px 0 15px 0;
    letter-spacing: .1px;
    line-height: 16px; }
    .table-wrapper.-collapse tr > td > .price {
      font-size: 15px;
      line-height: 14px;
      letter-spacing: -.2px; }
    .table-wrapper.-collapse tr > td > .count {
      letter-spacing: -.6px;
      margin-left: -3px; }
    .table-wrapper.-collapse tr > td > .small {
      letter-spacing: 0.5px; }
    .table-wrapper.-collapse tr > td > .-table-list {
      margin: 3px 0 1px 0;
      padding: 0; }
      .table-wrapper.-collapse tr > td > .-table-list > li {
        position: relative;
        margin: 0;
        padding: 3px 0 1px 12px;
        list-style: none;
        line-height: 11px;
        letter-spacing: .43px; }
        .table-wrapper.-collapse tr > td > .-table-list > li:after, .table-wrapper.-collapse tr > td > .-table-list > li:before {
          content: "+";
          position: absolute;
          display: block;
          top: 2px;
          left: 0;
          color: #666;
          font-size: 10px; }

table:not(.-collapse) th:first-child,
table:not(.-collapse) td:first-child {
  padding-left: 12px; }

.tabs-wrapper, .switch-wrapper {
  display: flex;
  margin: 0;
  padding: 0; }

.tabs-wrapper .tab, .switch-wrapper .tab {
  position: relative;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  color: #000;
  cursor: pointer; }

.tabs-wrapper {
  font-size: 0; }
  .tabs-wrapper .tab {
    border-radius: 6px;
    margin: 0 22px 0 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -.35px; }
    .tabs-wrapper .tab:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 9px;
      height: 0;
      width: 100%;
      border-bottom: 1px dotted #000; }
    .tabs-wrapper .tab.-active {
      box-shadow: inset 0 3px 2px 0 rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 0 19px;
      height: 34px;
      line-height: 34px;
      background-color: #e9e9e9; }
      .tabs-wrapper .tab.-active:before {
        border: none; }
      .tabs-wrapper .tab.-active:last-child {
        margin: 0; }
    .tabs-wrapper .tab.-hover:not(.-active), .tabs-wrapper .tab:hover:not(.-active) {
      color: #d60000; }
      .tabs-wrapper .tab.-hover:not(.-active):before, .tabs-wrapper .tab:hover:not(.-active):before {
        border-color: #d60000; }

.switch-wrapper {
  border-bottom: 1px solid #b2b2b2;
  padding-right: 40px; }
  .switch-wrapper .tab {
    text-shadow: none;
    border-radius: 6px 6px 0 0;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    background-color: #f4f4f4;
    margin: 0 1px -1px 0;
    padding: 0 15px;
    height: 35px;
    box-sizing: border-box;
    font-size: 13.3px;
    letter-spacing: -.44px; }
    .switch-wrapper .tab:last-child {
      margin-right: 0; }
    .switch-wrapper .tab > .more {
      color: #999;
      text-shadow: none; }
    .switch-wrapper .tab.-icon > .icon {
      position: absolute;
      top: 7px;
      left: 11px; }
    .switch-wrapper .tab.-icon-left {
      padding-left: 42px; }
    .switch-wrapper .tab.-icon-right {
      padding-right: 42px; }
    .switch-wrapper .tab > .underline {
      position: relative; }
      .switch-wrapper .tab > .underline:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 0;
        width: 100%;
        border-bottom: 1px dotted #000; }
    .switch-wrapper .tab.-active {
      margin-bottom: -1px;
      height: 36px;
      color: #d60000;
      border-color: #b2b2b2;
      border-bottom-color: #fff;
      background-color: #fff;
      font-weight: bold; }
      .switch-wrapper .tab.-active > .underline:before {
        border: none; }
    .switch-wrapper .tab.-hover, .switch-wrapper .tab:hover {
      color: #d60000; }
      .switch-wrapper .tab.-hover > .underline:before, .switch-wrapper .tab:hover > .underline:before {
        border-color: #d60000; }

.modal-window {
  position: relative;
  display: none;
  -webkit-overflow-scrolling: touch;
  margin-bottom: -100vh;
  padding: 14px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(0px);
  z-index: 1050; }
  .modal-window.-visible {
    display: block; }

.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #fff;
  transform: translateZ(0px); }

.modal-content {
  position: relative;
  display: flex;
  flex-shrink: 0;
  padding: 16px 14px 0 14px;
  width: 100%;
  box-sizing: border-box; }
  .modal-content:first-child {
    border-radius: 6px 6px 0 0; }
  .modal-content:last-child {
    border-radius: 0 0 6px 6px;
    padding-bottom: 16px; }
  .modal-content [data-behaviour="modalWindowClose"] {
    position: absolute;
    margin: 9px;
    top: 0;
    right: 0; }

.main-menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #000; }
  .main-menu .header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50vh - 50px);
    left: -120px;
    width: 340px;
    height: 100px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
    transform: rotate(-90deg); }
