.#{$modal} {
  &-#{$modal-window} {
    position: relative;
    display: none;

    -webkit-overflow-scrolling: touch;

    margin-bottom: -100vh;
    padding: $modal-padding;

    width: $modal-width;
    height: $modal-height;
    box-sizing: border-box;

    background-color: $modal-bg;

    overflow-x: hidden;
    overflow-y: auto;

    transform: translateZ(0px);
    z-index: $modal-z-index;

    &.-visible {
      display: block;
    }
  }

  &-#{$modal-wrapper} {
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: $modal-border-radius;

    margin-bottom: 50px;

    width: 100%;

    background-color: #fff;

    transform: translateZ(0px);
  }

  &-#{$modal-content} {
    position: relative;
    display: flex;
    flex-shrink: 0;

    padding: 16px 14px 0 14px;

    width: 100%;
    box-sizing: border-box;

    &:first-child {
      border-radius: 6px 6px 0 0;
    }

    &:last-child {
      border-radius: 0 0 6px 6px;

      padding-bottom: 16px;
    }

    [data-behaviour="modalWindowClose"] {
      position: absolute;

      margin: 9px;

      top: 0;
      right: 0;
    }
  }
}